In [149]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd 
import math

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
import acquire

# Decision Tree Model Exercises

### Decicion Tree with the Titanic Data

In [61]:
# Aquire:

In [64]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [65]:
titanic_df.shape

(891, 13)

In [66]:
# Preoare:

In [67]:
def prep_titanic(titanic_df):
    '''
    This function will clean the titanic data...
    '''
    titanic_df = titanic_df.drop_duplicates()
    cols_to_drop = ['deck', 'embarked', 'class', 'age']
    titanic_df = titanic_df.drop(columns=cols_to_drop)
    titanic_df.embark_town = titanic_df.embark_town.fillna(value=titanic_df.embark_town.mode())
    dummy_df = pd.get_dummies(titanic_df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
    titanic_df = pd.concat([titanic_df, dummy_df], axis=1)
    return titanic_df

In [68]:
titanic_df = prep_titanic(titanic_df)
titanic_df.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1

In [69]:
titanic_df = titanic_df.drop(columns=['sex', 'embark_town'])

In [70]:
titanic_df.shape

(891, 10)

In [71]:
titanic_df.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,1,0,7.2500,0,1,0,1
1,1,1,1,1,0,71.2833,0,0,0,0
2,2,1,3,0,0,7.9250,1,0,0,1
3,3,1,1,1,0,53.1000,0,0,0,1
4,4,0,3,0,0,8.0500,1,1,0,1

In [72]:
# Split:

In [73]:
def split_data(titanic_df):
    '''
    Takes in a dataframe and return train, validate, test subset dataframes
    '''
    train, test = train_test_split(titanic_df, test_size = .2, random_state=123, stratify=titanic_df.survived)
    train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.survived)
    return train, validate, test

In [74]:
train, validate, test = split_data(titanic_df)

In [75]:
train.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
583,583,0,1,0,0,40.1250,1,1,0,0
165,165,1,3,0,2,20.5250,0,1,0,1
50,50,0,3,4,1,39.6875,0,1,0,1
259,259,1,2,0,1,26.0000,0,0,0,1
306,306,1,1,0,0,110.8833,1,0,0,0

In [76]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

x_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [77]:
train.shape

(498, 10)

In [78]:
validate.shape

(214, 10)

In [79]:
test.shape

(179, 10)

In [80]:
X_train.shape

(498, 9)

1. What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [81]:
# baseline prediction = most common value

In [82]:
baseline = y_train.mode()

In [83]:
baseline

0    0
dtype: int64

In [84]:
match_bsl_prediction = y_train == 0

In [85]:
baseline_accuracy = match_bsl_prediction.mean()

In [86]:
baseline_accuracy

0.6164658634538153

In [87]:
# basline accuracy = 62%

2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [88]:
tree1_clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [89]:
tree1_clf = tree1_clf.fit(X_train, y_train)

In [90]:
#visualize the decision tree
import graphviz
from graphviz import Graph

dot_data = export_graphviz(tree1_clf, feature_names= X_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('titanic_decision_tree', view=True)

'titanic_decision_tree.pdf'

In [93]:
y_pred = tree1_clf.predict(X_train)
y_pred[0:5]

array([0, 0, 0, 1, 1])

In [94]:
y_pred_proba = tree1_clf.predict_proba(X_train)
y_pred_proba[0:5]

array([[0.62222222, 0.37777778],
       [0.62222222, 0.37777778],
       [0.89285714, 0.10714286],
       [0.14814815, 0.85185185],
       [0.        , 1.        ]])

3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [95]:
# accuracy:

In [96]:
print('Accuracy of Decision Tree 1 classifier on training set: {:.2f}'
      .format(tree1_clf.score(X_train, y_train)))

Accuracy of Decision Tree 1 classifier on training set: 0.82

In [97]:
# confusion matrix:

In [98]:
confusion_matrix(y_train, y_pred)

array([[274,  33],
       [ 56, 135]])

In [99]:
y_train.value_counts()

0    307
1    191
Name: survived, dtype: int64

In [100]:
labels = sorted(y_train.unique())
print('Actual on the left, predicted on the top')
pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

Actual on the left, predicted on the top

     0    1
0  274   33
1   56  135

In [101]:
# classification report:

In [102]:

print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.89      0.86       307
           1       0.80      0.71      0.75       191

    accuracy                           0.82       498
   macro avg       0.82      0.80      0.81       498
weighted avg       0.82      0.82      0.82       498

In [103]:
# make classification report prettier in a df
class_report = classification_report(y_train, y_pred, output_dict=(True))
print("Tree1 depth")
pd.DataFrame(class_report)

Tree1 depth

                    0           1  accuracy   macro avg  weighted avg
precision    0.830303    0.803571  0.821285    0.816937      0.820051
recall       0.892508    0.706806  0.821285    0.799657      0.821285
f1-score     0.860283    0.752089  0.821285    0.806186      0.818787
support    307.000000  191.000000  0.821285  498.000000    498.000000

4. Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

- **Precision**: the higher this number is, the more you were able to pinpoint all positives correctly. If this is a low score, you predicted a lot of positives where there were none.
- **Recall**: if this score is high, you didn’t miss a lot of positives. But as it gets lower, you are not predicting the positives that are actually there.
- **f1-score**: The balanced harmonic mean of Recall and Precision, giving both metrics equal weight. The higher the F-Measure is, the better.
- **Support**: number of occurrences of each class in where y is true.

In [104]:
class_report = classification_report(y_train, y_pred, output_dict=(True))
print("Tree1 depth")
pd.DataFrame(class_report)

Tree1 depth

                    0           1  accuracy   macro avg  weighted avg
precision    0.830303    0.803571  0.821285    0.816937      0.820051
recall       0.892508    0.706806  0.821285    0.799657      0.821285
f1-score     0.860283    0.752089  0.821285    0.806186      0.818787
support    307.000000  191.000000  0.821285  498.000000    498.000000

5. Run through steps 2-4 using a different max_depth value.

In [105]:
for i in range(2, 11):
    # Make the model
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)

    # Fit the model (on train and only train)
    tree = tree.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    y_pred = tree.predict(X_train)

    # Produce the classification report on the actual y values and this model's predicted y values
    report = classification_report(y_train, y_pred, output_dict=True)
    print(f"Tree with max depth of {i}")
    print(pd.DataFrame(report))
    print()

Tree with max depth of 2
                    0           1  accuracy   macro avg  weighted avg
precision    0.820433    0.760000  0.799197    0.790217      0.797255
recall       0.863192    0.696335  0.799197    0.779764      0.799197
f1-score     0.841270    0.726776  0.799197    0.784023      0.797358
support    307.000000  191.000000  0.799197  498.000000    498.000000

Tree with max depth of 3
                    0           1  accuracy   macro avg  weighted avg
precision    0.830303    0.803571  0.821285    0.816937      0.820051
recall       0.892508    0.706806  0.821285    0.799657      0.821285
f1-score     0.860283    0.752089  0.821285    0.806186      0.818787
support    307.000000  191.000000  0.821285  498.000000    498.000000

Tree with max depth of 4
                    0           1  accuracy   macro avg  weighted avg
precision    0.815642    0.892857  0.837349    0.854250      0.845257
recall       0.951140    0.654450  0.837349    0.802795      0.837349
f1-score     0.878195    0.755287  0.837349    0.816741      0.831056
support    307.000000  191.000000  0.837349  498.000000    498.000000

Tree with max depth of 5
                    0           1  accuracy   macro avg  weighted avg
precision    0.849398    0.849398  0.849398    0.849398      0.849398
recall       0.918567    0.738220  0.849398    0.828393      0.849398
f1-score     0.882629    0.789916  0.849398    0.836273      0.847070
support    307.000000  191.000000  0.849398  498.000000    498.000000

Tree with max depth of 6
                    0           1  accuracy   macro avg  weighted avg
precision    0.838440    0.956835  0.871486    0.897637      0.883848
recall       0.980456    0.696335  0.871486    0.838396      0.871486
f1-score     0.903904    0.806061  0.871486    0.854982      0.866378
support    307.000000  191.000000  0.871486  498.000000    498.000000

Tree with max depth of 7
                    0           1  accuracy   macro avg  weighted avg
precision    0.875740    0.931250  0.893574    0.903495      0.897030
recall       0.964169    0.780105  0.893574    0.872137      0.893574
f1-score     0.917829    0.849003  0.893574    0.883416      0.891432
support    307.000000  191.000000  0.893574  498.000000    498.000000

Tree with max depth of 8
                    0           1  accuracy   macro avg  weighted avg
precision    0.904908    0.930233  0.913655    0.917570      0.914621
recall       0.960912    0.837696  0.913655    0.899304      0.913655
f1-score     0.932070    0.881543  0.913655    0.906806      0.912691
support    307.000000  191.000000  0.913655  498.000000    498.000000

Tree with max depth of 9
                    0           1  accuracy   macro avg  weighted avg
precision    0.915408    0.976048  0.935743    0.945728      0.938665
recall       0.986971    0.853403  0.935743    0.920187      0.935743
f1-score     0.949843    0.910615  0.935743    0.930229      0.934798
support    307.000000  191.000000  0.935743  498.000000    498.000000

Tree with max depth of 10
                    0           1  accuracy   macro avg  weighted avg
precision    0.924471    0.994012  0.947791    0.959242      0.951143
recall       0.996743    0.869110  0.947791    0.932926      0.947791
f1-score     0.959248    0.927374  0.947791    0.943311      0.947023
support    307.000000  191.000000  0.947791  498.000000    498.000000

In [106]:
# to figure out which model to use, create a df with just themax_depth, train_accuracy, validate_accuracy, difference

In [107]:
metrics = []

In [108]:
for i in range(1, 11):
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)
    
    #run the model on train and only TRAIN data 
    tree = tree.fit(X_train, y_train)
    
    #use/test the model to evaluate models performance on train data first...
    in_sample_accuracy = tree.score(X_train, y_train)
    out_sample_accuracy = tree.score(x_validate, y_validate)
    
    output = {'max_depth': i, 'train_accuracy': in_sample_accuracy, 'validate_accuracy': out_sample_accuracy}
    
    metrics.append(output)
    
tree_df = pd.DataFrame(metrics)
tree_df["difference"] = tree_df.train_accuracy - tree_df.validate_accuracy

tree_df

   max_depth  train_accuracy  validate_accuracy  difference
0          1        0.799197           0.761682    0.037515
1          2        0.799197           0.761682    0.037515
2          3        0.821285           0.775701    0.045584
3          4        0.837349           0.761682    0.075667
4          5        0.849398           0.761682    0.087715
5          6        0.871486           0.738318    0.133168
6          7        0.893574           0.752336    0.141238
7          8        0.913655           0.733645    0.180010
8          9        0.935743           0.724299    0.211444
9         10        0.947791           0.728972    0.218819

In [109]:
# to avoid over-fitting, set a threshhold by looking at the difference

In [110]:
threshold = 0.10  #threshold set for amount of overfit that is tolerated

models = []
metrics = []

for i in range(1, 11):
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)
    #^^^ creates the model
    
    tree = tree.fit(X_train, y_train)   #fit model to train data and only TRAIN data
    
    in_sample_accuracy = tree.score(X_train, y_train)
    out_sample_accuracy = tree.score(x_validate, y_validate)
    #^^^evaluates the models performance on train data first
    
    difference = in_sample_accuracy - out_sample_accuracy
    #^^calculates the difference in accuracy
    
    if difference > threshold:
        break
    #^^adds conditions to check the accuracy vs the threshold
    
    output = {
        'max_depth': i,
        'train_accuracy': in_sample_accuracy,
        'validate_accuracy': out_sample_accuracy,
        'difference': difference}
    #^^^formats the output for each models performance o train and validate
    
    metrics.append(output)
    
    models.append(output)
    
model_df = pd.DataFrame(metrics)
model_df["difference"] = tree_df.train_accuracy - tree_df.validate_accuracy


model_df.head()

   max_depth  train_accuracy  validate_accuracy  difference
0          1        0.799197           0.761682    0.037515
1          2        0.799197           0.761682    0.037515
2          3        0.821285           0.775701    0.045584
3          4        0.837349           0.761682    0.075667
4          5        0.849398           0.761682    0.087715

6. Which model performs better on your in-sample data?

Answer: the model with a max depth of 5 (the higher the max_depth, the higher the accuracy.

7. Which model performs best on your out-of-sample data, the validate set?

Answer: the model with a max depth of 3

### Decicion Tree with the Telco Data

1. Work through these same exercises using the Telco dataset.

2. Experiment with this model on other datasets with a higher number of output classes.

### Decicion Tree with the Other Data

# Random Forest Model Exercises

### Random Forest with the Titanic Data

1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [111]:
# Do the same Aquire and Prepare steps as we did for the decision tree if in another notebook

In [112]:
# min_sample_leaf=1 / max_depth=10 - Accuracy of random forest classifier on training set: 0.97

In [113]:
# create model
rf1_clf = RandomForestClassifier(max_depth=10, min_samples_leaf=1, random_state=123)

In [114]:
rf1_clf

RandomForestClassifier(max_depth=10, random_state=123)

In [115]:
rf1_clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=123)

In [116]:
print(rf1_clf.feature_importances_)

[0.23385239 0.09052441 0.05149459 0.03453432 0.22859942 0.02186412
 0.30248482 0.0108785  0.02576743]

In [117]:
y_pred = rf1_clf.predict(X_train)
y_pred

array([0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0])

In [118]:
y_pred_proba = rf1_clf.predict_proba(X_train)

In [119]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf1_clf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 0.97

In [120]:
#for i in range(5, 16):
#    # Make the model
#    forest = RandomForestClassifier(max_depth=2, min_samples_leaf=1, random_state=123)

#    # Fit the model (on train and only train)
#    forest = forest.fit(X_train, y_train)

#    # Use the model
#    # We'll evaluate the model's performance on train, first
#    y_pred = forest.predict(X_train)

#    # Produce the classification report on the actual y values and this model's predicted y values
#    report = classification_report(y_train, y_pred, output_dict=True)
#    print(f"Tree with max depth of {i}")
#    print(pd.DataFrame(report))
#    print()

2. Evaluate your results using the model score, confusion matrix, and classification report.

In [121]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf1_clf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 0.97

In [122]:
print(confusion_matrix(y_train, y_pred))

[[307   0]
 [ 15 176]]

In [123]:
pd.DataFrame(confusion_matrix(y_train, y_pred))

     0    1
0  307    0
1   15  176

In [124]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.98       307
           1       1.00      0.92      0.96       191

    accuracy                           0.97       498
   macro avg       0.98      0.96      0.97       498
weighted avg       0.97      0.97      0.97       498

In [125]:
class_report = classification_report(y_train, y_pred, output_dict=(True))
print("Tree1 depth")
pd.DataFrame(class_report)

Tree1 depth

                    0           1  accuracy   macro avg  weighted avg
precision    0.953416    1.000000   0.96988    0.976708      0.971283
recall       1.000000    0.921466   0.96988    0.960733      0.969880
f1-score     0.976153    0.959128   0.96988    0.967640      0.969623
support    307.000000  191.000000   0.96988  498.000000    498.000000

3. Print and clearly label the following:  Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [126]:
# If not-survived is our positive case
TP = 285
FP = 68
FN = 22
TN = 123
ALL = TP + FP + FN + TN

accuracy = (TP + TN)/ALL
print(f"Accuracy: {accuracy}")

true_positive_rate = TP/(TP+FN)
print(f"True Positive Rate: {true_positive_rate}")

false_positive_rate = FP/(FP+TN)
print(f"False Positive Rate: {false_positive_rate}")

true_negative_rate = TN/(TN+FP)
print(f"True Negative Rate: {true_negative_rate}")

false_negative_rate = FN/(FN+TP)
print(f"False Negative Rate: {false_negative_rate}")

precision = TP/(TP+FP)
print(f"Precision: {precision}")

recall = TP/(TP+FN)
print(f"Recall: {recall}")

f1_score = 2*(precision*recall)/(precision+recall)
print(f"F1 Score: {f1_score}")

support_pos = TP + FN
print(f"Support (0): {support_pos}")

support_neg = FP + TN
print(f"Support (1): {support_neg}")

Accuracy: 0.8192771084337349
True Positive Rate: 0.9283387622149837
False Positive Rate: 0.35602094240837695
True Negative Rate: 0.643979057591623
False Negative Rate: 0.07166123778501629
Precision: 0.8073654390934845
Recall: 0.9283387622149837
F1 Score: 0.8636363636363636
Support (0): 307
Support (1): 191

4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.

In [127]:
max_depth = 16

for i in range(1, max_depth):
    # Create Model
    depth = max_depth - i
    n = i
    forest = RandomForestClassifier(max_depth=depth, min_samples_leaf=n, random_state=123)

    # Fit the model (on train and only train)
    forest = forest.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    y_pred = forest.predict(X_train)

    # Produce the classification report on the actual y values and this model's predicted y values
    report = classification_report(y_train, y_pred, output_dict=True)
    print(f"Tree with max depth of {i}")
    print(pd.DataFrame(report))
    print()

Tree with max depth of 1
               0      1  accuracy  macro avg  weighted avg
precision    1.0    1.0       1.0        1.0           1.0
recall       1.0    1.0       1.0        1.0           1.0
f1-score     1.0    1.0       1.0        1.0           1.0
support    307.0  191.0       1.0      498.0         498.0

Tree with max depth of 2
                    0           1  accuracy   macro avg  weighted avg
precision    0.912121    0.964286  0.929719    0.938203      0.932128
recall       0.980456    0.848168  0.929719    0.914312      0.929719
f1-score     0.945055    0.902507  0.929719    0.923781      0.928736
support    307.000000  191.000000  0.929719  498.000000    498.000000

Tree with max depth of 3
                    0           1  accuracy   macro avg  weighted avg
precision    0.898507    0.963190  0.919679    0.930849      0.923315
recall       0.980456    0.821990  0.919679    0.901223      0.919679
f1-score     0.937695    0.887006  0.919679    0.912350      0.918254
support    307.000000  191.000000  0.919679  498.000000    498.000000

Tree with max depth of 4
                    0           1  accuracy   macro avg  weighted avg
precision    0.853448    0.933333   0.87751    0.893391      0.884087
recall       0.967427    0.732984   0.87751    0.850206      0.877510
f1-score     0.906870    0.821114   0.87751    0.863992      0.873980
support    307.000000  191.000000   0.87751  498.000000    498.000000

Tree with max depth of 5
                    0           1  accuracy   macro avg  weighted avg
precision    0.850575    0.926667  0.873494    0.888621      0.879759
recall       0.964169    0.727749  0.873494    0.845959      0.873494
f1-score     0.903817    0.815249  0.873494    0.859533      0.869848
support    307.000000  191.000000  0.873494  498.000000    498.000000

Tree with max depth of 6
                    0           1  accuracy   macro avg  weighted avg
precision    0.846377    0.901961  0.863454    0.874169      0.867695
recall       0.951140    0.722513  0.863454    0.836827      0.863454
f1-score     0.895706    0.802326  0.863454    0.849016      0.859891
support    307.000000  191.000000  0.863454  498.000000    498.000000

Tree with max depth of 7
                    0           1  accuracy   macro avg  weighted avg
precision    0.838150    0.888158  0.853414    0.863154      0.857330
recall       0.944625    0.706806  0.853414    0.825716      0.853414
f1-score     0.888208    0.787172  0.853414    0.837690      0.849457
support    307.000000  191.000000  0.853414  498.000000    498.000000

Tree with max depth of 8
                    0           1  accuracy   macro avg  weighted avg
precision    0.835735    0.887417  0.851406    0.861576      0.855557
recall       0.944625    0.701571  0.851406    0.823098      0.851406
f1-score     0.886850    0.783626  0.851406    0.835238      0.847260
support    307.000000  191.000000  0.851406  498.000000    498.000000

Tree with max depth of 9
                    0           1  accuracy   macro avg  weighted avg
precision    0.827586    0.873333  0.841365    0.850460      0.845132
recall       0.938111    0.685864  0.841365    0.811987      0.841365
f1-score     0.879389    0.768328  0.841365    0.823859      0.836794
support    307.000000  191.000000  0.841365  498.000000    498.000000

Tree with max depth of 10
                    0           1  accuracy   macro avg  weighted avg
precision    0.820000    0.864865  0.833333    0.842432      0.837207
recall       0.934853    0.670157  0.833333    0.802505      0.833333
f1-score     0.873668    0.755162  0.833333    0.814415      0.828217
support    307.000000  191.000000  0.833333  498.000000    498.000000

Tree with max depth of 11
                    0           1  accuracy   macro avg  weighted avg
precision    0.823362    0.877551  0.839357    0.850456      0.844145
recall       0.941368    0.675393  0.839357    0.808380      0.839357
f1-score     0.878419    0.763314  0.839357    0.820867      0.834272
support    307.000000  191.000000  0.839357  498.000000    498.000000

Tree with max depth of 12
                    0           1  accuracy   macro avg  weighted avg
precision    0.820000    0.864865  0.833333    0.842432      0.837207
recall       0.934853    0.670157  0.833333    0.802505      0.833333
f1-score     0.873668    0.755162  0.833333    0.814415      0.828217
support    307.000000  191.000000  0.833333  498.000000    498.000000

Tree with max depth of 13
                    0           1  accuracy   macro avg  weighted avg
precision    0.822857    0.871622  0.837349    0.847239      0.841560
recall       0.938111    0.675393  0.837349    0.806752      0.837349
f1-score     0.876712    0.761062  0.837349    0.818887      0.832356
support    307.000000  191.000000  0.837349  498.000000    498.000000

Tree with max depth of 14
                    0           1  accuracy   macro avg  weighted avg
precision    0.803419    0.829932  0.811245    0.816675      0.813588
recall       0.918567    0.638743  0.811245    0.778655      0.811245
f1-score     0.857143    0.721893  0.811245    0.789518      0.805270
support    307.000000  191.000000  0.811245  498.000000    498.000000

Tree with max depth of 15
                    0           1  accuracy   macro avg  weighted avg
precision    0.769231    0.798507  0.777108    0.783869      0.780459
recall       0.912052    0.560209  0.777108    0.736131      0.777108
f1-score     0.834575    0.658462  0.777108    0.746518      0.767030
support    307.000000  191.000000  0.777108  498.000000    498.000000

In [128]:
metrics = []
max_depth = 16

for i in range(1, max_depth):
    # Create model
    depth = max_depth - i
    n = i
    forest = RandomForestClassifier(max_depth=depth, min_samples_leaf=n, random_state=123)

    # Fit the model (on train and only train)
    forest = forest.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = forest.score(X_train, y_train)
    
    out_of_sample_accuracy = forest.score(x_validate, y_validate)

    output = {
        "min_samples_per_leaf": n,
        "max_depth": depth,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics.append(output)
    
df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
df

,min_samples_per_leaf,max_depth,train_accuracy,validate_accuracy,difference
0,1,15,1.000000,0.771028,0.228972
1,2,14,0.929719,0.775701,0.154018
2,3,13,0.919679,0.789720,0.129959
3,4,12,0.877510,0.799065,0.078445
4,5,11,0.873494,0.789720,0.083774
5,6,10,0.863454,0.785047,0.078407
6,7,9,0.853414,0.785047,0.068367
7,8,8,0.851406,0.785047,0.066359
8,9,7,0.841365,0.775701,0.065665
9,10,6,0.833333,0.780374,0.052960
10,11,5,0.839357,0.780374,0.058984
11,12,4,0.833333,0.780374,0.052960
12,13,3,0.837349,0.780374,0.056976
13,14,2,0.811245,0.785047,0.026198
14,15,1,0.777108,0.757009,0.020099

5. What are the differences in the evaluation metrics?  Which performs better on your in-sample data?  Why?

In [129]:
metrics = []
max_depth = 16

for i in range(1, max_depth):
    # Create model
    depth = max_depth - i
    n = i
    forest = RandomForestClassifier(max_depth=depth, min_samples_leaf=n, random_state=123)

    # Fit the model (on train and only train)
    forest = forest.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = forest.score(X_train, y_train)
    
    out_of_sample_accuracy = forest.score(x_validate, y_validate)

    output = {
        "min_samples_per_leaf": n,
        "max_depth": depth,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics.append(output)
    
df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
df

,min_samples_per_leaf,max_depth,train_accuracy,validate_accuracy,difference
0,1,15,1.000000,0.771028,0.228972
1,2,14,0.929719,0.775701,0.154018
2,3,13,0.919679,0.789720,0.129959
3,4,12,0.877510,0.799065,0.078445
4,5,11,0.873494,0.789720,0.083774
5,6,10,0.863454,0.785047,0.078407
6,7,9,0.853414,0.785047,0.068367
7,8,8,0.851406,0.785047,0.066359
8,9,7,0.841365,0.775701,0.065665
9,10,6,0.833333,0.780374,0.052960
10,11,5,0.839357,0.780374,0.058984
11,12,4,0.833333,0.780374,0.052960
12,13,3,0.837349,0.780374,0.056976
13,14,2,0.811245,0.785047,0.026198
14,15,1,0.777108,0.757009,0.020099

After making a few models, which one has the best performance (or closest metrics) on both train and validate?

In [130]:
# min_samples_per_leaf	max_depth	train_accuracy	validate_accuracy	difference
# 4	                    12	        0.877510	    0.799065	        0.078445

# KNN Model Exercises

1. Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample)

In [131]:
# Do the same Aquire and Prepare steps as we did for the decision tree if in another notebook

In [132]:
knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')

In [133]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [134]:
y_pred = knn.predict(X_train)

In [135]:
#y_pred

In [136]:
y_pred_proba = knn.predict_proba(X_train)

2. Evaluate your results using the model score, confusion matrix, and classification report.

In [137]:
# Accuracy
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.74

In [138]:
# confusion matrix
print(confusion_matrix(y_train, y_pred))

[[270  37]
 [ 92  99]]

In [139]:
pd.DataFrame(confusion_matrix(y_train, y_pred))

     0   1
0  270  37
1   92  99

In [140]:
# classification report
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.75      0.88      0.81       307
           1       0.73      0.52      0.61       191

    accuracy                           0.74       498
   macro avg       0.74      0.70      0.71       498
weighted avg       0.74      0.74      0.73       498

In [141]:
pd.DataFrame(classification_report(y_train, y_pred, output_dict=True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.745856    0.727941  0.740964    0.736899      0.738985
recall       0.879479    0.518325  0.740964    0.698902      0.740964
f1-score     0.807175    0.605505  0.740964    0.706340      0.729827
support    307.000000  191.000000  0.740964  498.000000    498.000000

3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [142]:
# If not-survived (0) is our positive case
TP = 270
FP = 37
FN = 92
TN = 99
ALL = TP + FP + FN + TN

accuracy = (TP + TN)/ALL
print(f"Accuracy: {accuracy}")

true_positive_rate = TP/(TP+FN)
print(f"True Positive Rate: {true_positive_rate}")

false_positive_rate = FP/(FP+TN)
print(f"False Positive Rate: {false_positive_rate}")

true_negative_rate = TN/(TN+FP)
print(f"True Negative Rate: {true_negative_rate}")

false_negative_rate = FN/(FN+TP)
print(f"False Negative Rate: {false_negative_rate}")

precision = TP/(TP+FP)
print(f"Precision: {precision}")

recall = TP/(TP+FN)
print(f"Recall: {recall}")

f1_score = 2*(precision*recall)/(precision+recall)
print(f"F1 Score: {f1_score}")

support_pos = TP + FN
print(f"Support (0): {support_pos}")

support_neg = FP + TN
print(f"Support (1): {support_neg}")

Accuracy: 0.7409638554216867
True Positive Rate: 0.7458563535911602
False Positive Rate: 0.27205882352941174
True Negative Rate: 0.7279411764705882
False Negative Rate: 0.2541436464088398
Precision: 0.8794788273615635
Recall: 0.7458563535911602
F1 Score: 0.8071748878923767
Support (0): 362
Support (1): 136

4. Run through steps 2-4 setting k to 10

In [143]:
for k in range(1, 21):
            
    # define the thing
    knn = KNeighborsClassifier(n_neighbors=k)
    
    # fit the thing (remmeber only fit on training data)
    knn = knn.fit(X_train, y_train)
    
    # predict on train
    y_pred = knn.predict(X_train)

    # Produce the classification report on the actual y values and this model's predicted y values
    report = classification_report(y_train, y_pred, output_dict=True)
    print(f"KNN with k value of {k}")
    print(pd.DataFrame(report))
    print()

KNN with k value of 1
               0      1  accuracy  macro avg  weighted avg
precision    1.0    1.0       1.0        1.0           1.0
recall       1.0    1.0       1.0        1.0           1.0
f1-score     1.0    1.0       1.0        1.0           1.0
support    307.0  191.0       1.0      498.0         498.0

KNN with k value of 2
                    0           1  accuracy   macro avg  weighted avg
precision    0.741546    1.000000  0.785141    0.870773      0.840672
recall       1.000000    0.439791  0.785141    0.719895      0.785141
f1-score     0.851595    0.610909  0.785141    0.731252      0.759284
support    307.000000  191.000000  0.785141  498.000000    498.000000

KNN with k value of 3
                    0           1  accuracy   macro avg  weighted avg
precision    0.819820    0.793939  0.811245    0.806880      0.809894
recall       0.889251    0.685864  0.811245    0.787557      0.811245
f1-score     0.853125    0.735955  0.811245    0.794540      0.808186
support    307.000000  191.000000  0.811245  498.000000    498.000000

KNN with k value of 4
                    0           1  accuracy   macro avg  weighted avg
precision    0.713936    0.831461   0.73494    0.772699      0.759011
recall       0.951140    0.387435   0.73494    0.669287      0.734940
f1-score     0.815642    0.528571   0.73494    0.672107      0.705541
support    307.000000  191.000000   0.73494  498.000000    498.000000

KNN with k value of 5
                    0           1  accuracy   macro avg  weighted avg
precision    0.745856    0.727941  0.740964    0.736899      0.738985
recall       0.879479    0.518325  0.740964    0.698902      0.740964
f1-score     0.807175    0.605505  0.740964    0.706340      0.729827
support    307.000000  191.000000  0.740964  498.000000    498.000000

KNN with k value of 6
                    0           1  accuracy   macro avg  weighted avg
precision    0.698529    0.755556  0.708835    0.727042      0.720401
recall       0.928339    0.356021  0.708835    0.642180      0.708835
f1-score     0.797203    0.483986  0.708835    0.640594      0.677073
support    307.000000  191.000000  0.708835  498.000000    498.000000

KNN with k value of 7
                    0           1  accuracy   macro avg  weighted avg
precision    0.722667    0.707317  0.718876    0.714992      0.716780
recall       0.882736    0.455497  0.718876    0.669117      0.718876
f1-score     0.794721    0.554140  0.718876    0.674431      0.702450
support    307.000000  191.000000  0.718876  498.000000    498.000000

KNN with k value of 8
                    0           1  accuracy  macro avg  weighted avg
precision    0.698765    0.741935  0.706827    0.72035      0.715323
recall       0.921824    0.361257  0.706827    0.64154      0.706827
f1-score     0.794944    0.485915  0.706827    0.64043      0.676421
support    307.000000  191.000000  0.706827  498.00000    498.000000

KNN with k value of 9
                    0           1  accuracy   macro avg  weighted avg
precision    0.724138    0.719008  0.722892    0.721573      0.722171
recall       0.889251    0.455497  0.722892    0.672374      0.722892
f1-score     0.798246    0.557692  0.722892    0.677969      0.705985
support    307.000000  191.000000  0.722892  498.000000    498.000000

KNN with k value of 10
                    0           1  accuracy   macro avg  weighted avg
precision    0.699752    0.736842  0.706827    0.718297      0.713977
recall       0.918567    0.366492  0.706827    0.642529      0.706827
f1-score     0.794366    0.489510  0.706827    0.641938      0.677444
support    307.000000  191.000000  0.706827  498.000000    498.000000

KNN with k value of 11
                    0           1  accuracy   macro avg  weighted avg
precision    0.723684    0.728814    0.7249    0.726249      0.725651
recall       0.895765    0.450262    0.7249    0.673014      0.724900
f1-score     0.800582    0.556634    0.7249    0.678608      0.707020
support    307.000000  191.000000    0.7249  498.000000    498.000000

KNN with k value of 12
                    0           1  accuracy   macro avg  weighted avg
precision    0.693431    0.747126  0.702811    0.720279      0.714025
recall       0.928339    0.340314  0.702811    0.634326      0.702811
f1-score     0.793872    0.467626  0.702811    0.630749      0.668745
support    307.000000  191.000000  0.702811  498.000000    498.000000

KNN with k value of 13
                    0           1  accuracy   macro avg  weighted avg
precision    0.703608    0.690909  0.700803    0.697259      0.698738
recall       0.889251    0.397906  0.700803    0.643578      0.700803
f1-score     0.785612    0.504983  0.700803    0.645297      0.677981
support    307.000000  191.000000  0.700803  498.000000    498.000000

KNN with k value of 14
                    0           1  accuracy   macro avg  weighted avg
precision    0.687042    0.707865  0.690763    0.697453      0.695028
recall       0.915309    0.329843  0.690763    0.622576      0.690763
f1-score     0.784916    0.450000  0.690763    0.617458      0.656464
support    307.000000  191.000000  0.690763  498.000000    498.000000

KNN with k value of 15
                    0           1  accuracy   macro avg  weighted avg
precision    0.693878    0.669811  0.688755    0.681844      0.684647
recall       0.885993    0.371728  0.688755    0.628861      0.688755
f1-score     0.778255    0.478114  0.688755    0.628185      0.663141
support    307.000000  191.000000  0.688755  498.000000    498.000000

KNN with k value of 16
                    0           1  accuracy   macro avg  weighted avg
precision    0.678657    0.703704  0.682731    0.691180      0.688263
recall       0.921824    0.298429  0.682731    0.610127      0.682731
f1-score     0.781768    0.419118  0.682731    0.600443      0.642679
support    307.000000  191.000000  0.682731  498.000000    498.000000

KNN with k value of 17
                    0           1  accuracy   macro avg  weighted avg
precision    0.689826    0.694737  0.690763    0.692282      0.691710
recall       0.905537    0.345550  0.690763    0.625544      0.690763
f1-score     0.783099    0.461538  0.690763    0.622319      0.659769
support    307.000000  191.000000  0.690763  498.000000    498.000000

KNN with k value of 18
                    0           1  accuracy   macro avg  weighted avg
precision    0.679426    0.712500  0.684739    0.695963      0.692111
recall       0.925081    0.298429  0.684739    0.611755      0.684739
f1-score     0.783448    0.420664  0.684739    0.602056      0.644308
support    307.000000  191.000000  0.684739  498.000000    498.000000

KNN with k value of 19
                    0           1  accuracy   macro avg  weighted avg
precision    0.687042    0.707865  0.690763    0.697453      0.695028
recall       0.915309    0.329843  0.690763    0.622576      0.690763
f1-score     0.784916    0.450000  0.690763    0.617458      0.656464
support    307.000000  191.000000  0.690763  498.000000    498.000000

KNN with k value of 20
                    0           1  accuracy   macro avg  weighted avg
precision    0.673810    0.692308  0.676707    0.683059      0.680904
recall       0.921824    0.282723  0.676707    0.602273      0.676707
f1-score     0.778542    0.401487  0.676707    0.590014      0.633929
support    307.000000  191.000000  0.676707  498.000000    498.000000

5. Run through setps 2-4 setting k to 20

In [144]:
# See loop in question above

6. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

Answer: k set to 10 preforms better than k set on 20 on the in-sample data because it is on the brink of overfitting

In [145]:
metrics = []

# loop through different values of k
for k in range(1, 21):
            
    # define the thing
    knn = KNeighborsClassifier(n_neighbors=k)
    
    # fit the thing (remmeber only fit on training data)
    knn.fit(X_train, y_train)
    
    # use the thing (calculate accuracy)
    train_accuracy = knn.score(X_train, y_train)
    validate_accuracy = knn.score(x_validate, y_validate)
    
    output = {
        "k": k,
        "train_accuracy": train_accuracy,
        "validate_accuracy": validate_accuracy
    }
    
    metrics.append(output)


df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
df

     k  train_accuracy  validate_accuracy  difference
0    1        1.000000           0.560748    0.439252
1    2        0.785141           0.607477    0.177664
2    3        0.811245           0.616822    0.194423
3    4        0.734940           0.593458    0.141482
4    5        0.740964           0.570093    0.170870
5    6        0.708835           0.593458    0.115377
6    7        0.718876           0.593458    0.125418
7    8        0.706827           0.626168    0.080659
8    9        0.722892           0.607477    0.115415
9   10        0.706827           0.598131    0.108696
10  11        0.724900           0.630841    0.094058
11  12        0.702811           0.626168    0.076643
12  13        0.700803           0.621495    0.079308
13  14        0.690763           0.607477    0.083286
14  15        0.688755           0.607477    0.081278
15  16        0.682731           0.630841    0.051890
16  17        0.690763           0.644860    0.045903
17  18        0.684739           0.649533    0.035206
18  19        0.690763           0.640187    0.050576
19  20        0.676707           0.654206    0.022501

7. Which model performs best on our out-of-sample data from validate?

Answer: k set to 20 preforms better than k set to 10 on the out-of-sample data because it is not overfitting to the train data

# Logistic Regression Model Exercises

1. Create a model that includes age in addition to fare and pclass. Does this model perform better than your baseline?

In [176]:
train.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
583,583,0,1,0,0,40.1250,1,1,0,0
165,165,1,3,0,2,20.5250,0,1,0,1
50,50,0,3,4,1,39.6875,0,1,0,1
259,259,1,2,0,1,26.0000,0,0,0,1
306,306,1,1,0,0,110.8833,1,0,0,0

In [193]:
# create model
logr1 = LogisticRegression(C=.5,random_state=123)

In [194]:
# fit model
logr1.fit(X_train, y_train)

LogisticRegression(C=0.5, random_state=123)

In [195]:
# accuracy
logr1.score(X_train, y_train)

0.7991967871485943

In [196]:
y_pred = logr1.predict(X_train)

In [197]:
y_pred

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [198]:
logr1.predict_proba(X_train)

array([[0.6455674 , 0.3544326 ],
       [0.86017107, 0.13982893],
       [0.96081307, 0.03918693],
       [0.16639037, 0.83360963],
       [0.13185881, 0.86814119],
       [0.84235119, 0.15764881],
       [0.76620198, 0.23379802],
       [0.71549661, 0.28450339],
       [0.87971155, 0.12028845],
       [0.87118627, 0.12881373],
       [0.32707984, 0.67292016],
       [0.52510663, 0.47489337],
       [0.16721068, 0.83278932],
       [0.57168496, 0.42831504],
       [0.77747448, 0.22252552],
       [0.89144132, 0.10855868],
       [0.90410016, 0.09589984],
       [0.38952557, 0.61047443],
       [0.7315491 , 0.2684509 ],
       [0.35804186, 0.64195814],
       [0.36044809, 0.63955191],
       [0.87347347, 0.12652653],
       [0.08252676, 0.91747324],
       [0.10213242, 0.89786758],
       [0.54589643, 0.45410357],
       [0.86833174, 0.13166826],
       [0.33859117, 0.66140883],
       [0.16046013, 0.83953987],
       [0.59388042, 0.40611958],
       [0.78032477, 0.21967523],
       [0.89637954, 0.10362046],
       [0.79769349, 0.20230651],
       [0.89405379, 0.10594621],
       [0.85141722, 0.14858278],
       [0.21121997, 0.78878003],
       [0.78071367, 0.21928633],
       [0.7323795 , 0.2676205 ],
       [0.14527902, 0.85472098],
       [0.86025129, 0.13974871],
       [0.25980013, 0.74019987],
       [0.86040324, 0.13959676],
       [0.88666367, 0.11333633],
       [0.49500853, 0.50499147],
       [0.24688651, 0.75311349],
       [0.57837028, 0.42162972],
       [0.93033648, 0.06966352],
       [0.89714354, 0.10285646],
       [0.86326051, 0.13673949],
       [0.36302154, 0.63697846],
       [0.88966284, 0.11033716],
       [0.90279664, 0.09720336],
       [0.76473741, 0.23526259],
       [0.08099395, 0.91900605],
       [0.12156605, 0.87843395],
       [0.88874722, 0.11125278],
       [0.58218432, 0.41781568],
       [0.89800353, 0.10199647],
       [0.19593127, 0.80406873],
       [0.38559884, 0.61440116],
       [0.9034896 , 0.0965104 ],
       [0.80430991, 0.19569009],
       [0.77962677, 0.22037323],
       [0.92618644, 0.07381356],
       [0.73144519, 0.26855481],
       [0.865182  , 0.134818  ],
       [0.88143633, 0.11856367],
       [0.91292645, 0.08707355],
       [0.87914387, 0.12085613],
       [0.91590948, 0.08409052],
       [0.20092038, 0.79907962],
       [0.96029537, 0.03970463],
       [0.86058468, 0.13941532],
       [0.20177116, 0.79822884],
       [0.61245038, 0.38754962],
       [0.89367547, 0.10632453],
       [0.66668979, 0.33331021],
       [0.87066779, 0.12933221],
       [0.73732751, 0.26267249],
       [0.86702831, 0.13297169],
       [0.95647614, 0.04352386],
       [0.74144952, 0.25855048],
       [0.14235413, 0.85764587],
       [0.88498145, 0.11501855],
       [0.76915439, 0.23084561],
       [0.8722359 , 0.1277641 ],
       [0.89211459, 0.10788541],
       [0.14553604, 0.85446396],
       [0.33448898, 0.66551102],
       [0.42319638, 0.57680362],
       [0.76906044, 0.23093956],
       [0.88431867, 0.11568133],
       [0.86080432, 0.13919568],
       [0.27030543, 0.72969457],
       [0.0663392 , 0.9336608 ],
       [0.78419965, 0.21580035],
       [0.87462878, 0.12537122],
       [0.1248307 , 0.8751693 ],
       [0.66170459, 0.33829541],
       [0.62335757, 0.37664243],
       [0.1337412 , 0.8662588 ],
       [0.89714049, 0.10285951],
       [0.50395098, 0.49604902],
       [0.17221551, 0.82778449],
       [0.8625503 , 0.1374497 ],
       [0.07970392, 0.92029608],
       [0.07618578, 0.92381422],
       [0.89599038, 0.10400962],
       [0.71671117, 0.28328883],
       [0.88465648, 0.11534352],
       [0.87923696, 0.12076304],
       [0.52431174, 0.47568826],
       [0.52351995, 0.47648005],
       [0.77336952, 0.22663048],
       [0.91831603, 0.08168397],
       [0.38309503, 0.61690497],
       [0.14725631, 0.85274369],
       [0.98804124, 0.01195876],
       [0.87571048, 0.12428952],
       [0.0943459 , 0.9056541 ],
       [0.23391123, 0.76608877],
       [0.43022171, 0.56977829],
       [0.91708213, 0.08291787],
       [0.49541815, 0.50458185],
       [0.33579056, 0.66420944],
       [0.77755891, 0.22244109],
       [0.2156728 , 0.7843272 ],
       [0.18957429, 0.81042571],
       [0.59732397, 0.40267603],
       [0.3474651 , 0.6525349 ],
       [0.5588773 , 0.4411227 ],
       [0.43187998, 0.56812002],
       [0.90236446, 0.09763554],
       [0.61072654, 0.38927346],
       [0.20445978, 0.79554022],
       [0.7619393 , 0.2380607 ],
       [0.89787052, 0.10212948],
       [0.88182624, 0.11817376],
       [0.90364046, 0.09635954],
       [0.7160158 , 0.2839842 ],
       [0.60887861, 0.39112139],
       [0.1733126 , 0.8266874 ],
       [0.42576201, 0.57423799],
       [0.49047611, 0.50952389],
       [0.86250714, 0.13749286],
       [0.82743736, 0.17256264],
       [0.55975932, 0.44024068],
       [0.16293704, 0.83706296],
       [0.24582369, 0.75417631],
       [0.07763459, 0.92236541],
       [0.09595137, 0.90404863],
       [0.76196785, 0.23803215],
       [0.18818817, 0.81181183],
       [0.15951345, 0.84048655],
       [0.88576598, 0.11423402],
       [0.38962592, 0.61037408],
       [0.87211878, 0.12788122],
       [0.87376773, 0.12623227],
       [0.8722765 , 0.1277235 ],
       [0.41001524, 0.58998476],
       [0.90187537, 0.09812463],
       [0.6522142 , 0.3477858 ],
       [0.20725452, 0.79274548],
       [0.72828325, 0.27171675],
       [0.2681833 , 0.7318167 ],
       [0.89848998, 0.10151002],
       [0.93082617, 0.06917383],
       [0.96373369, 0.03626631],
       [0.86484729, 0.13515271],
       [0.7191865 , 0.2808135 ],
       [0.87711029, 0.12288971],
       [0.77915641, 0.22084359],
       [0.10404052, 0.89595948],
       [0.35679873, 0.64320127],
       [0.87289145, 0.12710855],
       [0.54973908, 0.45026092],
       [0.54498398, 0.45501602],
       [0.0793477 , 0.9206523 ],
       [0.91140046, 0.08859954],
       [0.92922218, 0.07077782],
       [0.50356814, 0.49643186],
       [0.86693657, 0.13306343],
       [0.87408912, 0.12591088],
       [0.87796314, 0.12203686],
       [0.0964704 , 0.9035296 ],
       [0.87467024, 0.12532976],
       [0.34440482, 0.65559518],
       [0.7441034 , 0.2558966 ],
       [0.21167778, 0.78832222],
       [0.3536206 , 0.6463794 ],
       [0.40768135, 0.59231865],
       [0.85217426, 0.14782574],
       [0.07301713, 0.92698287],
       [0.88351939, 0.11648061],
       [0.73030046, 0.26969954],
       [0.06941472, 0.93058528],
       [0.40874319, 0.59125681],
       [0.80823554, 0.19176446],
       [0.89590337, 0.10409663],
       [0.88785887, 0.11214113],
       [0.89804689, 0.10195311],
       [0.98696458, 0.01303542],
       [0.10903822, 0.89096178],
       [0.13056568, 0.86943432],
       [0.5461153 , 0.4538847 ],
       [0.87702988, 0.12297012],
       [0.87648161, 0.12351839],
       [0.71925407, 0.28074593],
       [0.49016585, 0.50983415],
       [0.90555805, 0.09444195],
       [0.25140856, 0.74859144],
       [0.3455265 , 0.6544735 ],
       [0.8877298 , 0.1122702 ],
       [0.93900371, 0.06099629],
       [0.42827522, 0.57172478],
       [0.05877166, 0.94122834],
       [0.54125028, 0.45874972],
       [0.87300495, 0.12699505],
       [0.85341902, 0.14658098],
       [0.20547242, 0.79452758],
       [0.89034678, 0.10965322],
       [0.45406041, 0.54593959],
       [0.8931699 , 0.1068301 ],
       [0.88185244, 0.11814756],
       [0.07287023, 0.92712977],
       [0.90958713, 0.09041287],
       [0.8907597 , 0.1092403 ],
       [0.55478691, 0.44521309],
       [0.865427  , 0.134573  ],
       [0.89400559, 0.10599441],
       [0.86400125, 0.13599875],
       [0.77893352, 0.22106648],
       [0.8885378 , 0.1114622 ],
       [0.86064814, 0.13935186],
       [0.86757441, 0.13242559],
       [0.89028969, 0.10971031],
       [0.20240412, 0.79759588],
       [0.31247241, 0.68752759],
       [0.93874632, 0.06125368],
       [0.77974728, 0.22025272],
       [0.51785586, 0.48214414],
       [0.90036711, 0.09963289],
       [0.37620629, 0.62379371],
       [0.2438126 , 0.7561874 ],
       [0.7366096 , 0.2633904 ],
       [0.0758551 , 0.9241449 ],
       [0.933743  , 0.066257  ],
       [0.10761828, 0.89238172],
       [0.91246337, 0.08753663],
       [0.88588137, 0.11411863],
       [0.24580442, 0.75419558],
       [0.86725528, 0.13274472],
       [0.78841627, 0.21158373],
       [0.8728863 , 0.1271137 ],
       [0.56955364, 0.43044636],
       [0.8632126 , 0.1367874 ],
       [0.53956903, 0.46043097],
       [0.37180707, 0.62819293],
       [0.09000636, 0.90999364],
       [0.13796209, 0.86203791],
       [0.39875236, 0.60124764],
       [0.76896646, 0.23103354],
       [0.8665309 , 0.1334691 ],
       [0.39703427, 0.60296573],
       [0.07647472, 0.92352528],
       [0.8717076 , 0.1282924 ],
       [0.77883731, 0.22116269],
       [0.26788028, 0.73211972],
       [0.87459118, 0.12540882],
       [0.90063924, 0.09936076],
       [0.28555561, 0.71444439],
       [0.86060711, 0.13939289],
       [0.52402768, 0.47597232],
       [0.90269531, 0.09730469],
       [0.11553261, 0.88446739],
       [0.83029199, 0.16970801],
       [0.91852181, 0.08147819],
       [0.88416937, 0.11583063],
       [0.87790644, 0.12209356],
       [0.88535789, 0.11464211],
       [0.8831923 , 0.1168077 ],
       [0.90591941, 0.09408059],
       [0.13750217, 0.86249783],
       [0.37187517, 0.62812483],
       [0.38845422, 0.61154578],
       [0.86641194, 0.13358806],
       [0.71065914, 0.28934086],
       [0.24109176, 0.75890824],
       [0.55536369, 0.44463631],
       [0.65513582, 0.34486418],
       [0.89233779, 0.10766221],
       [0.90453951, 0.09546049],
       [0.74096792, 0.25903208],
       [0.88226123, 0.11773877],
       [0.8988656 , 0.1011344 ],
       [0.49307491, 0.50692509],
       [0.60371983, 0.39628017],
       [0.72848076, 0.27151924],
       [0.90106093, 0.09893907],
       [0.73197257, 0.26802743],
       [0.53137629, 0.46862371],
       [0.86398662, 0.13601338],
       [0.86663754, 0.13336246],
       [0.86468285, 0.13531715],
       [0.41002242, 0.58997758],
       [0.90354828, 0.09645172],
       [0.55492984, 0.44507016],
       [0.05985361, 0.94014639],
       [0.89162413, 0.10837587],
       [0.77968927, 0.22031073],
       [0.3855912 , 0.6144088 ],
       [0.71654111, 0.28345889],
       [0.87353758, 0.12646242],
       [0.89763073, 0.10236927],
       [0.34799925, 0.65200075],
       [0.66231648, 0.33768352],
       [0.53222248, 0.46777752],
       [0.90417229, 0.09582771],
       [0.07520168, 0.92479832],
       [0.69326431, 0.30673569],
       [0.90917645, 0.09082355],
       [0.55217302, 0.44782698],
       [0.86084081, 0.13915919],
       [0.05508592, 0.94491408],
       [0.62411388, 0.37588612],
       [0.93827237, 0.06172763],
       [0.51244932, 0.48755068],
       [0.6167536 , 0.3832464 ],
       [0.74658834, 0.25341166],
       [0.55754172, 0.44245828],
       [0.17295584, 0.82704416],
       [0.88796907, 0.11203093],
       [0.75997296, 0.24002704],
       [0.400332  , 0.599668  ],
       [0.63660586, 0.36339414],
       [0.52419688, 0.47580312],
       [0.38965139, 0.61034861],
       [0.94609978, 0.05390022],
       [0.56013948, 0.43986052],
       [0.77998819, 0.22001181],
       [0.8768269 , 0.1231731 ],
       [0.78134704, 0.21865296],
       [0.29071409, 0.70928591],
       [0.39842834, 0.60157166],
       [0.60776305, 0.39223695],
       [0.52123543, 0.47876457],
       [0.51679949, 0.48320051],
       [0.68489778, 0.31510222],
       [0.58022567, 0.41977433],
       [0.77829463, 0.22170537],
       [0.58281976, 0.41718024],
       [0.13837077, 0.86162923],
       [0.70433454, 0.29566546],
       [0.89630476, 0.10369524],
       [0.42244149, 0.57755851],
       [0.17974285, 0.82025715],
       [0.09277288, 0.90722712],
       [0.12873889, 0.87126111],
       [0.94894447, 0.05105553],
       [0.48756141, 0.51243859],
       [0.73321073, 0.26678927],
       [0.43539055, 0.56460945],
       [0.60203631, 0.39796369],
       [0.22538778, 0.77461222],
       [0.9283426 , 0.0716574 ],
       [0.87921199, 0.12078801],
       [0.62586382, 0.37413618],
       [0.7979247 , 0.2020753 ],
       [0.90074221, 0.09925779],
       [0.94212961, 0.05787039],
       [0.68085175, 0.31914825],
       [0.73040465, 0.26959535],
       [0.86536977, 0.13463023],
       [0.43472912, 0.56527088],
       [0.63525952, 0.36474048],
       [0.34931631, 0.65068369],
       [0.34667087, 0.65332913],
       [0.13735375, 0.86264625],
       [0.24310357, 0.75689643],
       [0.08859742, 0.91140258],
       [0.41862531, 0.58137469],
       [0.72646715, 0.27353285],
       [0.15661452, 0.84338548],
       [0.20675868, 0.79324132],
       [0.90532835, 0.09467165],
       [0.58898974, 0.41101026],
       [0.42492827, 0.57507173],
       [0.92242928, 0.07757072],
       [0.365941  , 0.634059  ],
       [0.62389022, 0.37610978],
       [0.74305461, 0.25694539],
       [0.93836424, 0.06163576],
       [0.79826571, 0.20173429],
       [0.72762794, 0.27237206],
       [0.22926577, 0.77073423],
       [0.6412853 , 0.3587147 ],
       [0.41656333, 0.58343667],
       [0.23971672, 0.76028328],
       [0.88496617, 0.11503383],
       [0.93063265, 0.06936735],
       [0.52454277, 0.47545723],
       [0.90176862, 0.09823138],
       [0.30070272, 0.69929728],
       [0.88742281, 0.11257719],
       [0.58220126, 0.41779874],
       [0.72308088, 0.27691912],
       [0.89380488, 0.10619512],
       [0.74765874, 0.25234126],
       [0.87226706, 0.12773294],
       [0.82451565, 0.17548435],
       [0.36802683, 0.63197317],
       [0.55636676, 0.44363324],
       [0.8825549 , 0.1174451 ],
       [0.87635973, 0.12364027],
       [0.89649321, 0.10350679],
       [0.10714649, 0.89285351],
       [0.18206909, 0.81793091],
       [0.09382595, 0.90617405],
       [0.41808607, 0.58191393],
       [0.07669023, 0.92330977],
       [0.54500917, 0.45499083],
       [0.53185382, 0.46814618],
       [0.89020501, 0.10979499],
       [0.76052548, 0.23947452],
       [0.15478105, 0.84521895],
       [0.87427858, 0.12572142],
       [0.2318732 , 0.7681268 ],
       [0.37965465, 0.62034535],
       [0.19696204, 0.80303796],
       [0.86342634, 0.13657366],
       [0.44757991, 0.55242009],
       [0.88909349, 0.11090651],
       [0.95454237, 0.04545763],
       [0.93756058, 0.06243942],
       [0.73766457, 0.26233543],
       [0.43258662, 0.56741338],
       [0.77418807, 0.22581193],
       [0.34986198, 0.65013802],
       [0.89997363, 0.10002637],
       [0.10945639, 0.89054361],
       [0.87875453, 0.12124547],
       [0.89721858, 0.10278142],
       [0.41272291, 0.58727709],
       [0.88134943, 0.11865057],
       [0.72252003, 0.27747997],
       [0.89601214, 0.10398786],
       [0.36146996, 0.63853004],
       [0.92166861, 0.07833139],
       [0.98288925, 0.01711075],
       [0.64396417, 0.35603583],
       [0.92251003, 0.07748997],
       [0.51032251, 0.48967749],
       [0.14428767, 0.85571233],
       [0.92250555, 0.07749445],
       [0.79385848, 0.20614152],
       [0.46225139, 0.53774861],
       [0.54969712, 0.45030288],
       [0.94146767, 0.05853233],
       [0.56092113, 0.43907887],
       [0.91991259, 0.08008741],
       [0.73814643, 0.26185357],
       [0.89750568, 0.10249432],
       [0.86231795, 0.13768205],
       [0.19106021, 0.80893979],
       [0.51492976, 0.48507024],
       [0.44462999, 0.55537001],
       [0.12713908, 0.87286092],
       [0.5304891 , 0.4695109 ],
       [0.87417704, 0.12582296],
       [0.8791087 , 0.1208913 ],
       [0.89436183, 0.10563817],
       [0.23644808, 0.76355192],
       [0.90844602, 0.09155398],
       [0.59002729, 0.40997271],
       [0.86817267, 0.13182733],
       [0.87438974, 0.12561026],
       [0.90875957, 0.09124043],
       [0.18517336, 0.81482664],
       [0.95847798, 0.04152202],
       [0.62783206, 0.37216794],
       [0.86109172, 0.13890828],
       [0.61524071, 0.38475929],
       [0.13364672, 0.86635328],
       [0.6661998 , 0.3338002 ],
       [0.55676649, 0.44323351],
       [0.86799426, 0.13200574],
       [0.3271091 , 0.6728909 ],
       [0.87907703, 0.12092297],
       [0.40019705, 0.59980295],
       [0.88481979, 0.11518021],
       [0.40183083, 0.59816917],
       [0.16845116, 0.83154884],
       [0.73415331, 0.26584669],
       [0.57947931, 0.42052069],
       [0.89274374, 0.10725626],
       [0.8752428 , 0.1247572 ],
       [0.89723941, 0.10276059],
       [0.5422106 , 0.4577894 ],
       [0.86886865, 0.13113135]])

In [199]:
logr1.classes_

array([0, 1])

In [200]:
y_pred_proba = logr1.predict_proba(X_train)
y_pred_proba = pd.DataFrame(y_pred_proba, columns = ['non-survivers', 'survivers'])
y_pred_proba.head()

   non-survivers  survivers
0       0.645567   0.354433
1       0.860171   0.139829
2       0.960813   0.039187
3       0.166390   0.833610
4       0.131859   0.868141

In [201]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.88      0.84       307
           1       0.78      0.66      0.72       191

    accuracy                           0.80       498
   macro avg       0.79      0.77      0.78       498
weighted avg       0.80      0.80      0.80       498

2. Include sex in your model as well. Note that you'll need to encode or create a dummy variable of this feature before including it in a model.

In [202]:
# model already included sex

3. Try out other combinations of features and models.

In [216]:
logr2 = LogisticRegression(C=1, penalty='l2', solver='lbfgs', multi_class='multinomial', random_state=123)
logr2.fit(X_train, y_train)

LogisticRegression(C=1, multi_class='multinomial', random_state=123)

In [217]:
logr2.score(X_train, y_train)

0.8052208835341366

In [222]:
logr3 = LogisticRegression(C=.1, penalty='l2', solver='lbfgs', multi_class='multinomial', random_state=123)
logr3.fit(X_train, y_train)

LogisticRegression(C=0.1, multi_class='multinomial', random_state=123)

In [223]:
logr3.score(X_train, y_train)

0.8152610441767069

In [224]:
y_pred = logr3.predict(X_train)

In [225]:
y_pred

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0])

In [226]:
logr3.predict_proba(X_train)

array([[0.55492291, 0.44507709],
       [0.85509722, 0.14490278],
       [0.95407424, 0.04592576],
       [0.2181536 , 0.7818464 ],
       [0.13968164, 0.86031836],
       [0.7333112 , 0.2666888 ],
       [0.76131032, 0.23868968],
       [0.73662115, 0.26337885],
       [0.8060284 , 0.1939716 ],
       [0.88852172, 0.11147828],
       [0.39618983, 0.60381017],
       [0.57282375, 0.42717625],
       [0.21737501, 0.78262499],
       [0.61491927, 0.38508073],
       [0.76448398, 0.23551602],
       [0.89227686, 0.10772314],
       [0.90379826, 0.09620174],
       [0.33603276, 0.66396724],
       [0.75129234, 0.24870766],
       [0.40222449, 0.59777551],
       [0.42548905, 0.57451095],
       [0.87604768, 0.12395232],
       [0.14377442, 0.85622558],
       [0.14469227, 0.85530773],
       [0.59136837, 0.40863163],
       [0.87146699, 0.12853301],
       [0.26904534, 0.73095466],
       [0.15005561, 0.84994439],
       [0.63352492, 0.36647508],
       [0.79368403, 0.20631597],
       [0.89662708, 0.10337292],
       [0.80824576, 0.19175424],
       [0.89462344, 0.10537656],
       [0.86532559, 0.13467441],
       [0.29066027, 0.70933973],
       [0.79339601, 0.20660399],
       [0.75201297, 0.24798703],
       [0.20090568, 0.79909432],
       [0.86461096, 0.13538904],
       [0.33542589, 0.66457411],
       [0.86424437, 0.13575563],
       [0.88781475, 0.11218525],
       [0.56097865, 0.43902135],
       [0.19540084, 0.80459916],
       [0.6217115 , 0.3782885 ],
       [0.91567859, 0.08432141],
       [0.82992529, 0.17007471],
       [0.86701264, 0.13298736],
       [0.31340313, 0.68659687],
       [0.87394534, 0.12605466],
       [0.90268795, 0.09731205],
       [0.77945947, 0.22054053],
       [0.12481486, 0.87518514],
       [0.11953802, 0.88046198],
       [0.88980033, 0.11019967],
       [0.48799519, 0.51200481],
       [0.89809556, 0.10190444],
       [0.27335171, 0.72664829],
       [0.47257403, 0.52742597],
       [0.90321375, 0.09678625],
       [0.70746262, 0.29253738],
       [0.78978974, 0.21021026],
       [0.87565098, 0.12434902],
       [0.75120217, 0.24879783],
       [0.8686336 , 0.1313664 ],
       [0.80835652, 0.19164348],
       [0.85656106, 0.14343894],
       [0.87988471, 0.12011529],
       [0.83723017, 0.16276983],
       [0.27830183, 0.72169817],
       [0.91844426, 0.08155574],
       [0.86455777, 0.13544223],
       [0.27927207, 0.72072793],
       [0.518884  , 0.481116  ],
       [0.82510417, 0.17489583],
       [0.57127074, 0.42872926],
       [0.87351413, 0.12648587],
       [0.7563073 , 0.2436927 ],
       [0.87027746, 0.12972254],
       [0.95088069, 0.04911931],
       [0.73022431, 0.26977569],
       [0.14362404, 0.85637596],
       [0.88643755, 0.11356245],
       [0.78395882, 0.21604118],
       [0.87494249, 0.12505751],
       [0.80441148, 0.19558852],
       [0.14598915, 0.85401085],
       [0.40418385, 0.59581615],
       [0.47522125, 0.52477875],
       [0.78387708, 0.21612292],
       [0.88593467, 0.11406533],
       [0.78098871, 0.21901129],
       [0.32673724, 0.67326276],
       [0.13013481, 0.86986519],
       [0.79706111, 0.20293889],
       [0.87704621, 0.12295379],
       [0.13715995, 0.86284005],
       [0.5670039 , 0.4329961 ],
       [0.53305465, 0.46694535],
       [0.15966466, 0.84033534],
       [0.8973375 , 0.1026625 ],
       [0.46401906, 0.53598094],
       [0.23925504, 0.76074496],
       [0.86644427, 0.13355573],
       [0.14046621, 0.85953379],
       [0.1099906 , 0.8900094 ],
       [0.89548183, 0.10451817],
       [0.71348294, 0.28651706],
       [0.88602079, 0.11397921],
       [0.88124048, 0.11875952],
       [0.57201382, 0.42798618],
       [0.57130486, 0.42869514],
       [0.80271195, 0.19728805],
       [0.84363524, 0.15636476],
       [0.47016917, 0.52983083],
       [0.20317234, 0.79682766],
       [0.98579026, 0.01420974],
       [0.87807346, 0.12192654],
       [0.13709105, 0.86290895],
       [0.30120442, 0.69879558],
       [0.4725671 , 0.5274329 ],
       [0.86244592, 0.13755408],
       [0.52220666, 0.47779334],
       [0.42084331, 0.57915669],
       [0.77176977, 0.22823023],
       [0.26429917, 0.73570083],
       [0.24543339, 0.75456661],
       [0.50187578, 0.49812422],
       [0.43509347, 0.56490653],
       [0.60331599, 0.39668401],
       [0.37254863, 0.62745137],
       [0.90219495, 0.09780505],
       [0.66248713, 0.33751287],
       [0.2871661 , 0.7128339 ],
       [0.74805645, 0.25194355],
       [0.8980024 , 0.1019976 ],
       [0.80887994, 0.19112006],
       [0.90337788, 0.09662212],
       [0.72308651, 0.27691349],
       [0.49330234, 0.50669766],
       [0.22639497, 0.77360503],
       [0.49662126, 0.50337874],
       [0.55073171, 0.44926829],
       [0.78320909, 0.21679091],
       [0.8218659 , 0.1781341 ],
       [0.60366888, 0.39633112],
       [0.13841667, 0.86158333],
       [0.33009489, 0.66990511],
       [0.07340537, 0.92659463],
       [0.08838071, 0.91161929],
       [0.77424808, 0.22575192],
       [0.2704042 , 0.7295958 ],
       [0.1490453 , 0.8509547 ],
       [0.88736752, 0.11263248],
       [0.44493103, 0.55506897],
       [0.88277821, 0.11722179],
       [0.87626506, 0.12373494],
       [0.87521808, 0.12478192],
       [0.31698637, 0.68301363],
       [0.90161928, 0.09838072],
       [0.56501852, 0.43498148],
       [0.28628344, 0.71371656],
       [0.75218787, 0.24781213],
       [0.3235286 , 0.6764714 ],
       [0.89846156, 0.10153844],
       [0.88255172, 0.11744828],
       [0.95940555, 0.04059445],
       [0.86835467, 0.13164533],
       [0.74437159, 0.25562841],
       [0.87935486, 0.12064514],
       [0.79279196, 0.20720804],
       [0.1319076 , 0.8680924 ],
       [0.27423829, 0.72576171],
       [0.80093104, 0.19906896],
       [0.59624005, 0.40375995],
       [0.5903533 , 0.4096467 ],
       [0.11813503, 0.88186497],
       [0.85441342, 0.14558658],
       [0.91438047, 0.08561953],
       [0.55347594, 0.44652406],
       [0.87049794, 0.12950206],
       [0.87661951, 0.12338049],
       [0.88012067, 0.11987933],
       [0.08650033, 0.91349967],
       [0.87714048, 0.12285952],
       [0.2976388 , 0.7023612 ],
       [0.76577902, 0.23422098],
       [0.26916965, 0.73083035],
       [0.30510983, 0.69489017],
       [0.49292774, 0.50707226],
       [0.77612646, 0.22387354],
       [0.10992117, 0.89007883],
       [0.88511936, 0.11488064],
       [0.75020877, 0.24979123],
       [0.13558018, 0.86441982],
       [0.35248713, 0.64751287],
       [0.79726372, 0.20273628],
       [0.87872674, 0.12127326],
       [0.8889939 , 0.1110061 ],
       [0.89847782, 0.10152218],
       [0.9846307 , 0.0153693 ],
       [0.11282305, 0.88717695],
       [0.1450819 , 0.8549181 ],
       [0.58170371, 0.41829629],
       [0.86652263, 0.13347737],
       [0.87879059, 0.12120941],
       [0.7048948 , 0.2951052 ],
       [0.52667663, 0.47332337],
       [0.90513253, 0.09486747],
       [0.19642743, 0.80357257],
       [0.43289007, 0.56710993],
       [0.8888955 , 0.1111045 ],
       [0.89448083, 0.10551917],
       [0.4712764 , 0.5287236 ],
       [0.1271892 , 0.8728108 ],
       [0.58717415, 0.41282585],
       [0.87562788, 0.12437212],
       [0.77143401, 0.22856599],
       [0.25355935, 0.74644065],
       [0.8911372 , 0.1088628 ],
       [0.38039736, 0.61960264],
       [0.89384375, 0.10615625],
       [0.88359363, 0.11640637],
       [0.12928001, 0.87071999],
       [0.85171762, 0.14828238],
       [0.8917501 , 0.1082499 ],
       [0.5713909 , 0.4286091 ],
       [0.86871255, 0.13128745],
       [0.89481114, 0.10518886],
       [0.87591953, 0.12408047],
       [0.79228932, 0.20771068],
       [0.88961092, 0.11038908],
       [0.86461426, 0.13538574],
       [0.87219745, 0.12780255],
       [0.89144907, 0.10855093],
       [0.25834695, 0.74165305],
       [0.38036388, 0.61963612],
       [0.89419072, 0.10580928],
       [0.77957176, 0.22042824],
       [0.57959603, 0.42040397],
       [0.90038901, 0.09961099],
       [0.46294349, 0.53705651],
       [0.32605112, 0.67394888],
       [0.75568419, 0.24431581],
       [0.12408434, 0.87591566],
       [0.88662943, 0.11337057],
       [0.09930255, 0.90069745],
       [0.85590778, 0.14409222],
       [0.88725911, 0.11274089],
       [0.30519196, 0.69480804],
       [0.8705859 , 0.1294141 ],
       [0.77462712, 0.22537288],
       [0.87556747, 0.12443253],
       [0.58970305, 0.41029695],
       [0.85190964, 0.14809036],
       [0.44924749, 0.55075251],
       [0.32082915, 0.67917085],
       [0.0991476 , 0.9008524 ],
       [0.12534403, 0.87465597],
       [0.45588137, 0.54411863],
       [0.78379532, 0.21620468],
       [0.86974655, 0.13025345],
       [0.34242198, 0.65757802],
       [0.09123174, 0.90876826],
       [0.87451217, 0.12548783],
       [0.77874142, 0.22125858],
       [0.37178419, 0.62821581],
       [0.85678183, 0.14321817],
       [0.90053608, 0.09946392],
       [0.37413925, 0.62586075],
       [0.85636925, 0.14363075],
       [0.48558102, 0.51441898],
       [0.90249328, 0.09750672],
       [0.11010285, 0.88989715],
       [0.85574698, 0.14425302],
       [0.90285503, 0.09714497],
       [0.88562317, 0.11437683],
       [0.88006975, 0.11993025],
       [0.88677715, 0.11322285],
       [0.88482463, 0.11517537],
       [0.9054635 , 0.0945365 ],
       [0.13735362, 0.86264638],
       [0.32092741, 0.67907259],
       [0.33507201, 0.66492799],
       [0.87089378, 0.12910622],
       [0.61639544, 0.38360456],
       [0.32308907, 0.67691093],
       [0.60122519, 0.39877481],
       [0.74305459, 0.25694541],
       [0.89306668, 0.10693332],
       [0.90421456, 0.09578544],
       [0.76308525, 0.23691475],
       [0.88398597, 0.11601403],
       [0.89899914, 0.10100086],
       [0.52932235, 0.47067765],
       [0.64551665, 0.35448335],
       [0.74819717, 0.25180283],
       [0.9011811 , 0.0988189 ],
       [0.76966034, 0.23033966],
       [0.58058277, 0.41941723],
       [0.86772339, 0.13227661],
       [0.86980714, 0.13019286],
       [0.86795589, 0.13204411],
       [0.35358929, 0.64641071],
       [0.90329361, 0.09670639],
       [0.59938933, 0.40061067],
       [0.10776995, 0.89223005],
       [0.8924198 , 0.1075802 ],
       [0.79313035, 0.20686965],
       [0.31261625, 0.68738375],
       [0.73826957, 0.26173043],
       [0.86376587, 0.13623413],
       [0.83060533, 0.16939467],
       [0.30067421, 0.69932579],
       [0.70641498, 0.29358502],
       [0.42928878, 0.57071122],
       [0.90384372, 0.09615628],
       [0.11291807, 0.88708193],
       [0.5995156 , 0.4004844 ],
       [0.85142537, 0.14857463],
       [0.59899068, 0.40100932],
       [0.8650728 , 0.1349272 ],
       [0.08403815, 0.91596185],
       [0.53039123, 0.46960877],
       [0.89338272, 0.10661728],
       [0.52745031, 0.47254969],
       [0.54083484, 0.45916516],
       [0.7350449 , 0.2649551 ],
       [0.60170453, 0.39829547],
       [0.24654187, 0.75345813],
       [0.88908975, 0.11091025],
       [0.75342506, 0.24657494],
       [0.3452526 , 0.6547474 ],
       [0.52170907, 0.47829093],
       [0.53834433, 0.46165567],
       [0.33614043, 0.66385957],
       [0.93993068, 0.06006932],
       [0.45340593, 0.54659407],
       [0.79276249, 0.20723751],
       [0.80215166, 0.19784834],
       [0.79394916, 0.20605084],
       [0.25903404, 0.74096596],
       [0.3436182 , 0.6563818 ],
       [0.64904211, 0.35095789],
       [0.55936082, 0.44063918],
       [0.45610634, 0.54389366],
       [0.5897196 , 0.4102804 ],
       [0.63014984, 0.36985016],
       [0.77533388, 0.22466612],
       [0.62402565, 0.37597435],
       [0.12199962, 0.87800038],
       [0.6123067 , 0.3876933 ],
       [0.89554271, 0.10445729],
       [0.35336339, 0.64663661],
       [0.23705294, 0.76294706],
       [0.15722555, 0.84277445],
       [0.11212697, 0.88787303],
       [0.93991626, 0.06008374],
       [0.38987016, 0.61012984],
       [0.62398076, 0.37601924],
       [0.51885291, 0.48114709],
       [0.62973074, 0.37026926],
       [0.3092461 , 0.6907539 ],
       [0.86363461, 0.13636539],
       [0.80534951, 0.19465049],
       [0.51801461, 0.48198539],
       [0.80904048, 0.19095952],
       [0.89962336, 0.10037664],
       [0.93463799, 0.06536201],
       [0.60458381, 0.39541619],
       [0.75029919, 0.24970081],
       [0.78695473, 0.21304527],
       [0.51814614, 0.48185386],
       [0.64362575, 0.35637425],
       [0.43647508, 0.56352492],
       [0.43396622, 0.56603378],
       [0.1186084 , 0.8813916 ],
       [0.2911656 , 0.7088344 ],
       [0.11442325, 0.88557675],
       [0.52066282, 0.47933718],
       [0.72114489, 0.27885511],
       [0.21077978, 0.78922022],
       [0.28494015, 0.71505985],
       [0.90488926, 0.09511074],
       [0.60029454, 0.39970546],
       [0.36648351, 0.63351649],
       [0.87010237, 0.12989763],
       [0.45279488, 0.54720512],
       [0.50077654, 0.49922346],
       [0.76058231, 0.23941769],
       [0.89352054, 0.10647946],
       [0.80933851, 0.19066149],
       [0.71729812, 0.28270188],
       [0.31093318, 0.68906682],
       [0.52556952, 0.47443048],
       [0.50125652, 0.49874348],
       [0.30268942, 0.69731058],
       [0.8862695 , 0.1137305 ],
       [0.88203946, 0.11796054],
       [0.56067209, 0.43932791],
       [0.9015319 , 0.0984681 ],
       [0.26698154, 0.73301846],
       [0.87132051, 0.12867949],
       [0.60236482, 0.39763518],
       [0.74321412, 0.25678588],
       [0.89462932, 0.10537068],
       [0.76541398, 0.23458602],
       [0.85439928, 0.14560072],
       [0.82073561, 0.17926439],
       [0.41476534, 0.58523466],
       [0.60066324, 0.39933676],
       [0.80966014, 0.19033986],
       [0.85999973, 0.14000027],
       [0.82880142, 0.17119858],
       [0.09600902, 0.90399098],
       [0.25727121, 0.74272879],
       [0.13181782, 0.86818218],
       [0.50259825, 0.49740175],
       [0.11121925, 0.88878075],
       [0.59334284, 0.40665716],
       [0.5801432 , 0.4198568 ],
       [0.89103846, 0.10896154],
       [0.7729804 , 0.2270196 ],
       [0.20342983, 0.79657017],
       [0.8579951 , 0.1420049 ],
       [0.31472016, 0.68527984],
       [0.46650471, 0.53349529],
       [0.26089023, 0.73910977],
       [0.86708172, 0.13291828],
       [0.36558182, 0.63441818],
       [0.89012855, 0.10987145],
       [0.90627232, 0.09372768],
       [0.8753906 , 0.1246094 ],
       [0.75589412, 0.24410588],
       [0.37321649, 0.62678351],
       [0.78833953, 0.21166047],
       [0.30237962, 0.69762038],
       [0.90011461, 0.09988539],
       [0.13369149, 0.86630851],
       [0.88083163, 0.11916837],
       [0.89749962, 0.10250038],
       [0.49763901, 0.50236099],
       [0.8831454 , 0.1168546 ],
       [0.74345745, 0.25654255],
       [0.89631053, 0.10368947],
       [0.44930077, 0.55069923],
       [0.91571457, 0.08428543],
       [0.98031469, 0.01968531],
       [0.54969972, 0.45030028],
       [0.87146392, 0.12853608],
       [0.52593495, 0.47406505],
       [0.14121286, 0.85878714],
       [0.87021153, 0.12978847],
       [0.80858858, 0.19141142],
       [0.40725547, 0.59274453],
       [0.59474569, 0.40525431],
       [0.88588141, 0.11411859],
       [0.54588165, 0.45411835],
       [0.86674987, 0.13325013],
       [0.7570181 , 0.2429819 ],
       [0.90397312, 0.09602688],
       [0.86607987, 0.13392013],
       [0.26773319, 0.73226681],
       [0.43670974, 0.56329026],
       [0.48397281, 0.51602719],
       [0.11622617, 0.88377383],
       [0.44984391, 0.55015609],
       [0.87805006, 0.12194994],
       [0.78894099, 0.21105901],
       [0.8948971 , 0.1051029 ],
       [0.31884472, 0.68115528],
       [0.89181415, 0.10818585],
       [0.63283995, 0.36716005],
       [0.87130768, 0.12869232],
       [0.79891211, 0.20108789],
       [0.85071353, 0.14928647],
       [0.26104458, 0.73895542],
       [0.95160273, 0.04839727],
       [0.57368517, 0.42631483],
       [0.86500918, 0.13499082],
       [0.50016939, 0.49983061],
       [0.18231369, 0.81768631],
       [0.53773717, 0.46226283],
       [0.464408  , 0.535592  ],
       [0.87119196, 0.12880804],
       [0.40184976, 0.59815024],
       [0.88109003, 0.11890997],
       [0.48561184, 0.51438816],
       [0.88629174, 0.11370826],
       [0.44670072, 0.55329928],
       [0.22468149, 0.77531851],
       [0.75369455, 0.24630545],
       [0.48546357, 0.51453643],
       [0.89343479, 0.10656521],
       [0.87765874, 0.12234126],
       [0.89754029, 0.10245971],
       [0.59015041, 0.40984959],
       [0.87195182, 0.12804818]])

In [229]:
logr3.classes_

array([0, 1])

In [230]:
y_pred_proba = logr3.predict_proba(X_train)
y_pred_proba = pd.DataFrame(y_pred_proba, columns = ['non-survivers', 'survivers'])
y_pred_proba.head()

   non-survivers  survivers
0       0.554923   0.445077
1       0.855097   0.144903
2       0.954074   0.045926
3       0.218154   0.781846
4       0.139682   0.860318

In [231]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.89      0.86       307
           1       0.80      0.69      0.74       191

    accuracy                           0.82       498
   macro avg       0.81      0.79      0.80       498
weighted avg       0.81      0.82      0.81       498

In [236]:
logr3.score(x_validate, y_validate)

0.7616822429906542

In [237]:
train_accuracy = logr3.score(X_train, y_train)
validate_accuracy = logr3.score(x_validate, y_validate)

In [241]:
difference = train_accuracy - validate_accuracy
difference

0.05357880118605263

In [235]:
metrics = []

# loop through different values of c
for c in range(1, 10):
            
    # define the thing
    logit = LogisticRegression(C=c, random_state=123)
    
    # fit the thing (remmeber only fit on training data)
    logit.fit(X_train, y_train)
    
    # use the thing (calculate accuracy)
    train_accuracy = logit.score(X_train, y_train)
    validate_accuracy = logit.score(x_validate, y_validate)
    
    output = {
        "c": c,
        "train_accuracy": train_accuracy,
        "validate_accuracy": validate_accuracy
    }
    
    metrics.append(output)


df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
df

   c  train_accuracy  validate_accuracy  difference
0  1        0.807229           0.761682    0.045547
1  2        0.801205           0.761682    0.039523
2  3        0.805221           0.761682    0.043539
3  4        0.801205           0.752336    0.048868
4  5        0.803213           0.761682    0.041531
5  6        0.799197           0.761682    0.037515
6  7        0.807229           0.771028    0.036201
7  8        0.805221           0.761682    0.043539
8  9        0.809237           0.771028    0.038209

4. Use you best 3 models to predict and evaluate on your validate sample.

5. Choose you best model from the validation performation, and evaluate it on the test dataset. How do the performance metrics compare to validate? to train?

Bonus1 How do different strategies for handling the missing values in the age column affect model performance?

Bonus2: How do different strategies for encoding sex affect model performance?

Bonus3: scikit-learn's LogisticRegression classifier is actually applying a regularization penalty to the coefficients by default. This penalty causes the magnitude of the coefficients in the resulting model to be smaller than they otherwise would be. This value can be modified with the C hyper parameter. Small values of C correspond to a larger penalty, and large values of C correspond to a smaller penalty.
Try out the following values for C and note how the coefficients and the model's performance on both the dataset it was trained on and on the validate split are affected.
C
=
.01
,
.1
,
1
,
10
,
100
,
1000

Bonus Bonus: how does scaling the data interact with your choice of C?