In [166]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd 

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier

import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
import acquire

# Decision Tree Model Exercises

### Decicion Tree with the Titanic Data

In [73]:
# Aquire:

In [74]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [75]:
# Preoare:

In [76]:
def prep_titanic(titanic_df):
    '''
    This function will clean the titanic data...
    '''
    titanic_df = titanic_df.drop_duplicates()
    cols_to_drop = ['deck', 'embarked', 'class', 'age']
    titanic_df = titanic_df.drop(columns=cols_to_drop)
    titanic_df.embark_town = titanic_df.embark_town.fillna(value=titanic_df.embark_town.mode())
    dummy_df = pd.get_dummies(titanic_df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
    titanic_df = pd.concat([titanic_df, dummy_df], axis=1)
    return titanic_df

In [77]:
titanic_df = prep_titanic(titanic_df)
titanic_df.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1

In [78]:
titanic_df = titanic_df.drop(columns=['sex', 'embark_town'])

In [79]:
titanic_df.shape

(891, 10)

In [80]:
titanic_df.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,1,0,7.2500,0,1,0,1
1,1,1,1,1,0,71.2833,0,0,0,0
2,2,1,3,0,0,7.9250,1,0,0,1
3,3,1,1,1,0,53.1000,0,0,0,1
4,4,0,3,0,0,8.0500,1,1,0,1

In [81]:
# Split:

In [82]:
def split_data(titanic_df):
    '''
    Takes in a dataframe and return train, validate, test subset dataframes
    '''
    train, test = train_test_split(titanic_df, test_size = .2, random_state=123, stratify=titanic_df.survived)
    train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.survived)
    return train, validate, test

In [83]:
train, validate, test = split_data(titanic_df)

In [84]:
train.head()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
583,583,0,1,0,0,40.1250,1,1,0,0
165,165,1,3,0,2,20.5250,0,1,0,1
50,50,0,3,4,1,39.6875,0,1,0,1
259,259,1,2,0,1,26.0000,0,0,0,1
306,306,1,1,0,0,110.8833,1,0,0,0

In [85]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

x_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [86]:
train.shape

(498, 10)

In [87]:
validate.shape

(214, 10)

In [88]:
test.shape

(179, 10)

In [89]:
X_train.shape

(498, 9)

1. What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [90]:
# baseline prediction = most common value

In [91]:
baseline = y_train.mode()

In [92]:
baseline

0    0
dtype: int64

In [93]:
match_bsl_prediction = y_train == 0

In [94]:
baseline_accuracy = match_bsl_prediction.mean()

In [95]:
baseline_accuracy

0.6164658634538153

In [96]:
# basline accuracy = 62%

2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [97]:
tree1_clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [98]:
tree1_clf = tree1_clf.fit(X_train, y_train)

In [157]:
#visualize the decision tree
import graphviz
from graphviz import Graph

dot_data = export_graphviz(tree1_clf, feature_names= X_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('titanic_decision_tree', view=True)

'titanic_decision_tree.pdf'

In [101]:
y_pred = tree1_clf.predict(X_train)
y_pred[0:5]

array([0, 0, 0, 1, 1])

In [104]:
y_pred_proba = tree1_clf.predict_proba(X_train)
y_pred_proba[0:5]

array([[0.62222222, 0.37777778],
       [0.62222222, 0.37777778],
       [0.89285714, 0.10714286],
       [0.14814815, 0.85185185],
       [0.        , 1.        ]])

3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [108]:
# accuracy:

In [105]:
print('Accuracy of Decision Tree 1 classifier on training set: {:.2f}'
      .format(tree1_clf.score(X_train, y_train)))

Accuracy of Decision Tree 1 classifier on training set: 0.82

In [106]:
# confusion matrix:

In [107]:
confusion_matrix(y_train, y_pred)

array([[274,  33],
       [ 56, 135]])

In [110]:
y_train.value_counts()

0    307
1    191
Name: survived, dtype: int64

In [111]:
labels = sorted(y_train.unique())
print('Actual on the left, predicted on the top')
pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

Actual on the left, predicted on the top

     0    1
0  274   33
1   56  135

In [109]:
# classification report:

In [158]:

print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.89      0.86       307
           1       0.80      0.71      0.75       191

    accuracy                           0.82       498
   macro avg       0.82      0.80      0.81       498
weighted avg       0.82      0.82      0.82       498

In [159]:
# make classification report prettier in a df
class_report = classification_report(y_train, y_pred, output_dict=(True))
print("Tree1 depth")
pd.DataFrame(class_report)

Tree1 depth

                    0           1  accuracy   macro avg  weighted avg
precision    0.830303    0.803571  0.821285    0.816937      0.820051
recall       0.892508    0.706806  0.821285    0.799657      0.821285
f1-score     0.860283    0.752089  0.821285    0.806186      0.818787
support    307.000000  191.000000  0.821285  498.000000    498.000000

4. Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

- **Precision**: the higher this number is, the more you were able to pinpoint all positives correctly. If this is a low score, you predicted a lot of positives where there were none.
- **Recall**: if this score is high, you didn’t miss a lot of positives. But as it gets lower, you are not predicting the positives that are actually there.
- **f1-score**: The balanced harmonic mean of Recall and Precision, giving both metrics equal weight. The higher the F-Measure is, the better.
- **Support**: number of occurrences of each class in where y is true.

In [154]:
class_report = classification_report(y_train, y_pred, output_dict=(True))
print("Tree1 depth")
pd.DataFrame(class_report)

Tree1 depth

                    0           1  accuracy   macro avg  weighted avg
precision    0.830303    0.803571  0.821285    0.816937      0.820051
recall       0.892508    0.706806  0.821285    0.799657      0.821285
f1-score     0.860283    0.752089  0.821285    0.806186      0.818787
support    307.000000  191.000000  0.821285  498.000000    498.000000

5. Run through steps 2-4 using a different max_depth value.

In [209]:
for i in range(2, 11):
    # Make the model
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)

    # Fit the model (on train and only train)
    tree = tree.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    y_pred = tree.predict(X_train)

    # Produce the classification report on the actual y values and this model's predicted y values
    report = classification_report(y_train, y_pred, output_dict=True)
    print(f"Tree with max depth of {i}")
    print(pd.DataFrame(report))
    print()

Tree with max depth of 2
                    0           1  accuracy   macro avg  weighted avg
precision    0.820433    0.760000  0.799197    0.790217      0.797255
recall       0.863192    0.696335  0.799197    0.779764      0.799197
f1-score     0.841270    0.726776  0.799197    0.784023      0.797358
support    307.000000  191.000000  0.799197  498.000000    498.000000

Tree with max depth of 3
                    0           1  accuracy   macro avg  weighted avg
precision    0.830303    0.803571  0.821285    0.816937      0.820051
recall       0.892508    0.706806  0.821285    0.799657      0.821285
f1-score     0.860283    0.752089  0.821285    0.806186      0.818787
support    307.000000  191.000000  0.821285  498.000000    498.000000

Tree with max depth of 4
                    0           1  accuracy   macro avg  weighted avg
precision    0.815642    0.892857  0.837349    0.854250      0.845257
recall       0.951140    0.654450  0.837349    0.802795      0.837349
f1-score     0.878195    0.755287  0.837349    0.816741      0.831056
support    307.000000  191.000000  0.837349  498.000000    498.000000

Tree with max depth of 5
                    0           1  accuracy   macro avg  weighted avg
precision    0.849398    0.849398  0.849398    0.849398      0.849398
recall       0.918567    0.738220  0.849398    0.828393      0.849398
f1-score     0.882629    0.789916  0.849398    0.836273      0.847070
support    307.000000  191.000000  0.849398  498.000000    498.000000

Tree with max depth of 6
                    0           1  accuracy   macro avg  weighted avg
precision    0.838440    0.956835  0.871486    0.897637      0.883848
recall       0.980456    0.696335  0.871486    0.838396      0.871486
f1-score     0.903904    0.806061  0.871486    0.854982      0.866378
support    307.000000  191.000000  0.871486  498.000000    498.000000

Tree with max depth of 7
                    0           1  accuracy   macro avg  weighted avg
precision    0.875740    0.931250  0.893574    0.903495      0.897030
recall       0.964169    0.780105  0.893574    0.872137      0.893574
f1-score     0.917829    0.849003  0.893574    0.883416      0.891432
support    307.000000  191.000000  0.893574  498.000000    498.000000

Tree with max depth of 8
                    0           1  accuracy   macro avg  weighted avg
precision    0.904908    0.930233  0.913655    0.917570      0.914621
recall       0.960912    0.837696  0.913655    0.899304      0.913655
f1-score     0.932070    0.881543  0.913655    0.906806      0.912691
support    307.000000  191.000000  0.913655  498.000000    498.000000

Tree with max depth of 9
                    0           1  accuracy   macro avg  weighted avg
precision    0.915408    0.976048  0.935743    0.945728      0.938665
recall       0.986971    0.853403  0.935743    0.920187      0.935743
f1-score     0.949843    0.910615  0.935743    0.930229      0.934798
support    307.000000  191.000000  0.935743  498.000000    498.000000

Tree with max depth of 10
                    0           1  accuracy   macro avg  weighted avg
precision    0.924471    0.994012  0.947791    0.959242      0.951143
recall       0.996743    0.869110  0.947791    0.932926      0.947791
f1-score     0.959248    0.927374  0.947791    0.943311      0.947023
support    307.000000  191.000000  0.947791  498.000000    498.000000

In [162]:
# to figure out which model to use, create a df with just themax_depth, train_accuracy, validate_accuracy, difference

In [137]:
metrics = []

In [151]:
for i in range(1, 11):
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)
    
    #run the model on train and only TRAIN data 
    tree = tree.fit(X_train, y_train)
    
    #use/test the model to evaluate models performance on train data first...
    in_sample_accuracy = tree.score(X_train, y_train)
    out_sample_accuracy = tree.score(x_validate, y_validate)
    
    output = {'max_depth': i, 'train_accuracy': in_sample_accuracy, 'validate_accuracy': out_sample_accuracy}
    
    metrics.append(output)
    
tree_df = pd.DataFrame(metrics)
tree_df["difference"] = tree_df.train_accuracy - tree_df.validate_accuracy

tree_df

    max_depth  train_accuracy  validate_accuracy  difference
0           2        0.799197           0.761682    0.037515
1           3        0.821285           0.775701    0.045584
2           4        0.837349           0.761682    0.075667
3           5        0.849398           0.761682    0.087715
4           4        0.837349           0.761682    0.075667
5           5        0.849398           0.761682    0.087715
6           6        0.871486           0.738318    0.133168
7           7        0.893574           0.752336    0.141238
8           8        0.913655           0.733645    0.180010
9           9        0.935743           0.724299    0.211444
10         10        0.947791           0.728972    0.218819
11          4        0.837349           0.761682    0.075667
12          5        0.849398           0.761682    0.087715
13          6        0.871486           0.738318    0.133168
14          7        0.893574           0.752336    0.141238
15          8        0.913655           0.733645    0.180010
16          9        0.935743           0.724299    0.211444
17         10        0.947791           0.728972    0.218819
18          1        0.799197           0.761682    0.037515
19          2        0.799197           0.761682    0.037515
20          3        0.821285           0.775701    0.045584
21          4        0.837349           0.761682    0.075667
22          5        0.849398           0.761682    0.087715
23          6        0.871486           0.738318    0.133168
24          7        0.893574           0.752336    0.141238
25          8        0.913655           0.733645    0.180010
26          9        0.935743           0.724299    0.211444
27         10        0.947791           0.728972    0.218819

In [164]:
# to avoid over-fitting, set a threshhold by looking at the difference

In [152]:
threshold = 0.10  #threshold set for amount of overfit that is tolerated

models = []
metrics = []

for i in range(1, 11):
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)
    #^^^ creates the model
    
    tree = tree.fit(X_train, y_train)   #fit model to train data and only TRAIN data
    
    in_sample_accuracy = tree.score(X_train, y_train)
    out_sample_accuracy = tree.score(x_validate, y_validate)
    #^^^evaluates the models performance on train data first
    
    difference = in_sample_accuracy - out_sample_accuracy
    #^^calculates the difference in accuracy
    
    if difference > threshold:
        break
    #^^adds conditions to check the accuracy vs the threshold
    
    output = {
        'max_depth': i,
        'train_accuracy': in_sample_accuracy,
        'validate_accuracy': out_sample_accuracy,
        'difference': difference}
    #^^^formats the output for each models performance o train and validate
    
    metrics.append(output)
    
    models.append(output)
    
model_df = pd.DataFrame(metrics)
model_df["difference"] = tree_df.train_accuracy - tree_df.validate_accuracy


model_df.head()

   max_depth  train_accuracy  validate_accuracy  difference
0          1        0.799197           0.761682    0.037515
1          2        0.799197           0.761682    0.045584
2          3        0.821285           0.775701    0.075667
3          4        0.837349           0.761682    0.087715
4          5        0.849398           0.761682    0.075667

6. Which model performs better on your in-sample data?

Answer: the model with a max depth of 5 (the higher the max_depth, the higher the accuracy.

7. Which model performs best on your out-of-sample data, the validate set?

Answer: the model with a max depth of 3

### Decicion Tree with the Telco Data

1. Work through these same exercises using the Telco dataset.

2. Experiment with this model on other datasets with a higher number of output classes.

### Decicion Tree with the Other Data

# Random Forest Model Exercises

### Random Forest with the Titanic Data

1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [210]:
# min_sample_leaf=1 / max_depth=10 - Accuracy of random forest classifier on training set: 0.97

In [211]:
# create model
rf1_clf = RandomForestClassifier(max_depth=10, min_samples_leaf=1, random_state=123)

In [212]:
rf1_clf

RandomForestClassifier(max_depth=10, random_state=123)

In [213]:
rf1_clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=123)

In [214]:
print(rf1_clf.feature_importances_)

[0.23385239 0.09052441 0.05149459 0.03453432 0.22859942 0.02186412
 0.30248482 0.0108785  0.02576743]

In [215]:
y_pred = rf1_clf.predict(X_train)
y_pred

array([0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0])

In [216]:
y_pred_proba = rf1_clf.predict_proba(X_train)

In [217]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf1_clf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 0.97

In [256]:
#for i in range(5, 16):
#    # Make the model
#    forest = RandomForestClassifier(max_depth=2, min_samples_leaf=1, random_state=123)

#    # Fit the model (on train and only train)
#    forest = forest.fit(X_train, y_train)

#    # Use the model
#    # We'll evaluate the model's performance on train, first
#    y_pred = forest.predict(X_train)

#    # Produce the classification report on the actual y values and this model's predicted y values
#    report = classification_report(y_train, y_pred, output_dict=True)
#    print(f"Tree with max depth of {i}")
#    print(pd.DataFrame(report))
#    print()

2. Evaluate your results using the model score, confusion matrix, and classification report.

In [219]:
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf1_clf.score(X_train, y_train)))

Accuracy of random forest classifier on training set: 0.97

In [220]:
print(confusion_matrix(y_train, y_pred))

[[285  22]
 [ 68 123]]

In [221]:
pd.DataFrame(confusion_matrix(y_train, y_pred))

     0    1
0  285   22
1   68  123

In [224]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.93      0.86       307
           1       0.85      0.64      0.73       191

    accuracy                           0.82       498
   macro avg       0.83      0.79      0.80       498
weighted avg       0.82      0.82      0.81       498

In [225]:
class_report = classification_report(y_train, y_pred, output_dict=(True))
print("Tree1 depth")
pd.DataFrame(class_report)

Tree1 depth

                    0           1  accuracy   macro avg  weighted avg
precision    0.807365    0.848276  0.819277    0.827821      0.823056
recall       0.928339    0.643979  0.819277    0.786159      0.819277
f1-score     0.863636    0.732143  0.819277    0.797890      0.813204
support    307.000000  191.000000  0.819277  498.000000    498.000000

3. Print and clearly label the following:  Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [223]:
# If not-survived is our positive case
TP = 285
FP = 68
FN = 22
TN = 123
ALL = TP + FP + FN + TN

accuracy = (TP + TN)/ALL
print(f"Accuracy: {accuracy}")

true_positive_rate = TP/(TP+FN)
print(f"True Positive Rate: {true_positive_rate}")

false_positive_rate = FP/(FP+TN)
print(f"False Positive Rate: {false_positive_rate}")

true_negative_rate = TN/(TN+FP)
print(f"True Negative Rate: {true_negative_rate}")

false_negative_rate = FN/(FN+TP)
print(f"False Negative Rate: {false_negative_rate}")

precision = TP/(TP+FP)
print(f"Precision: {precision}")

recall = TP/(TP+FN)
print(f"Recall: {recall}")

f1_score = 2*(precision*recall)/(precision+recall)
print(f"F1 Score: {f1_score}")

support_pos = TP + FN
print(f"Support (0): {support_pos}")

support_neg = FP + TN
print(f"Support (1): {support_neg}")

Accuracy: 0.8192771084337349
True Positive Rate: 0.9283387622149837
False Positive Rate: 0.35602094240837695
True Negative Rate: 0.643979057591623
False Negative Rate: 0.07166123778501629
Precision: 0.8073654390934845
Recall: 0.9283387622149837
F1 Score: 0.8636363636363636
Support (0): 307
Support (1): 191

4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.

In [245]:
max_depth = 16

for i in range(1, max_depth):
    # Create Model
    depth = max_depth - i
    n = i
    forest = RandomForestClassifier(max_depth=depth, min_samples_leaf=n, random_state=123)

    # Fit the model (on train and only train)
    forest = forest.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    y_pred = forest.predict(X_train)

    # Produce the classification report on the actual y values and this model's predicted y values
    report = classification_report(y_train, y_pred, output_dict=True)
    print(f"Tree with max depth of {i}")
    print(pd.DataFrame(report))
    print()

Tree with max depth of 1
               0      1  accuracy  macro avg  weighted avg
precision    1.0    1.0       1.0        1.0           1.0
recall       1.0    1.0       1.0        1.0           1.0
f1-score     1.0    1.0       1.0        1.0           1.0
support    307.0  191.0       1.0      498.0         498.0

Tree with max depth of 2
                    0           1  accuracy   macro avg  weighted avg
precision    0.912121    0.964286  0.929719    0.938203      0.932128
recall       0.980456    0.848168  0.929719    0.914312      0.929719
f1-score     0.945055    0.902507  0.929719    0.923781      0.928736
support    307.000000  191.000000  0.929719  498.000000    498.000000

Tree with max depth of 3
                    0           1  accuracy   macro avg  weighted avg
precision    0.898507    0.963190  0.919679    0.930849      0.923315
recall       0.980456    0.821990  0.919679    0.901223      0.919679
f1-score     0.937695    0.887006  0.919679    0.912350      0.918254
support    307.000000  191.000000  0.919679  498.000000    498.000000

Tree with max depth of 4
                    0           1  accuracy   macro avg  weighted avg
precision    0.853448    0.933333   0.87751    0.893391      0.884087
recall       0.967427    0.732984   0.87751    0.850206      0.877510
f1-score     0.906870    0.821114   0.87751    0.863992      0.873980
support    307.000000  191.000000   0.87751  498.000000    498.000000

Tree with max depth of 5
                    0           1  accuracy   macro avg  weighted avg
precision    0.850575    0.926667  0.873494    0.888621      0.879759
recall       0.964169    0.727749  0.873494    0.845959      0.873494
f1-score     0.903817    0.815249  0.873494    0.859533      0.869848
support    307.000000  191.000000  0.873494  498.000000    498.000000

Tree with max depth of 6
                    0           1  accuracy   macro avg  weighted avg
precision    0.846377    0.901961  0.863454    0.874169      0.867695
recall       0.951140    0.722513  0.863454    0.836827      0.863454
f1-score     0.895706    0.802326  0.863454    0.849016      0.859891
support    307.000000  191.000000  0.863454  498.000000    498.000000

Tree with max depth of 7
                    0           1  accuracy   macro avg  weighted avg
precision    0.838150    0.888158  0.853414    0.863154      0.857330
recall       0.944625    0.706806  0.853414    0.825716      0.853414
f1-score     0.888208    0.787172  0.853414    0.837690      0.849457
support    307.000000  191.000000  0.853414  498.000000    498.000000

Tree with max depth of 8
                    0           1  accuracy   macro avg  weighted avg
precision    0.835735    0.887417  0.851406    0.861576      0.855557
recall       0.944625    0.701571  0.851406    0.823098      0.851406
f1-score     0.886850    0.783626  0.851406    0.835238      0.847260
support    307.000000  191.000000  0.851406  498.000000    498.000000

Tree with max depth of 9
                    0           1  accuracy   macro avg  weighted avg
precision    0.827586    0.873333  0.841365    0.850460      0.845132
recall       0.938111    0.685864  0.841365    0.811987      0.841365
f1-score     0.879389    0.768328  0.841365    0.823859      0.836794
support    307.000000  191.000000  0.841365  498.000000    498.000000

Tree with max depth of 10
                    0           1  accuracy   macro avg  weighted avg
precision    0.820000    0.864865  0.833333    0.842432      0.837207
recall       0.934853    0.670157  0.833333    0.802505      0.833333
f1-score     0.873668    0.755162  0.833333    0.814415      0.828217
support    307.000000  191.000000  0.833333  498.000000    498.000000

Tree with max depth of 11
                    0           1  accuracy   macro avg  weighted avg
precision    0.823362    0.877551  0.839357    0.850456      0.844145
recall       0.941368    0.675393  0.839357    0.808380      0.839357
f1-score     0.878419    0.763314  0.839357    0.820867      0.834272
support    307.000000  191.000000  0.839357  498.000000    498.000000

Tree with max depth of 12
                    0           1  accuracy   macro avg  weighted avg
precision    0.820000    0.864865  0.833333    0.842432      0.837207
recall       0.934853    0.670157  0.833333    0.802505      0.833333
f1-score     0.873668    0.755162  0.833333    0.814415      0.828217
support    307.000000  191.000000  0.833333  498.000000    498.000000

Tree with max depth of 13
                    0           1  accuracy   macro avg  weighted avg
precision    0.822857    0.871622  0.837349    0.847239      0.841560
recall       0.938111    0.675393  0.837349    0.806752      0.837349
f1-score     0.876712    0.761062  0.837349    0.818887      0.832356
support    307.000000  191.000000  0.837349  498.000000    498.000000

Tree with max depth of 14
                    0           1  accuracy   macro avg  weighted avg
precision    0.803419    0.829932  0.811245    0.816675      0.813588
recall       0.918567    0.638743  0.811245    0.778655      0.811245
f1-score     0.857143    0.721893  0.811245    0.789518      0.805270
support    307.000000  191.000000  0.811245  498.000000    498.000000

Tree with max depth of 15
                    0           1  accuracy   macro avg  weighted avg
precision    0.769231    0.798507  0.777108    0.783869      0.780459
recall       0.912052    0.560209  0.777108    0.736131      0.777108
f1-score     0.834575    0.658462  0.777108    0.746518      0.767030
support    307.000000  191.000000  0.777108  498.000000    498.000000

In [246]:
metrics = []
max_depth = 16

for i in range(1, max_depth):
    # Create model
    depth = max_depth - i
    n = i
    forest = RandomForestClassifier(max_depth=depth, min_samples_leaf=n, random_state=123)

    # Fit the model (on train and only train)
    forest = forest.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = forest.score(X_train, y_train)
    
    out_of_sample_accuracy = forest.score(x_validate, y_validate)

    output = {
        "min_samples_per_leaf": n,
        "max_depth": depth,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics.append(output)
    
df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
df

,min_samples_per_leaf,max_depth,train_accuracy,validate_accuracy,difference
0,1,15,1.000000,0.771028,0.228972
1,2,14,0.929719,0.775701,0.154018
2,3,13,0.919679,0.789720,0.129959
3,4,12,0.877510,0.799065,0.078445
4,5,11,0.873494,0.789720,0.083774
5,6,10,0.863454,0.785047,0.078407
6,7,9,0.853414,0.785047,0.068367
7,8,8,0.851406,0.785047,0.066359
8,9,7,0.841365,0.775701,0.065665
9,10,6,0.833333,0.780374,0.052960
10,11,5,0.839357,0.780374,0.058984
11,12,4,0.833333,0.780374,0.052960
12,13,3,0.837349,0.780374,0.056976
13,14,2,0.811245,0.785047,0.026198
14,15,1,0.777108,0.757009,0.020099

5. What are the differences in the evaluation metrics?  Which performs better on your in-sample data?  Why?

In [261]:
metrics = []
max_depth = 16

for i in range(1, max_depth):
    # Create model
    depth = max_depth - i
    n = i
    forest = RandomForestClassifier(max_depth=depth, min_samples_leaf=n, random_state=123)

    # Fit the model (on train and only train)
    forest = forest.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = forest.score(X_train, y_train)
    
    out_of_sample_accuracy = forest.score(x_validate, y_validate)

    output = {
        "min_samples_per_leaf": n,
        "max_depth": depth,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics.append(output)
    
df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
df

,min_samples_per_leaf,max_depth,train_accuracy,validate_accuracy,difference
0,1,15,1.000000,0.771028,0.228972
1,2,14,0.929719,0.775701,0.154018
2,3,13,0.919679,0.789720,0.129959
3,4,12,0.877510,0.799065,0.078445
4,5,11,0.873494,0.789720,0.083774
5,6,10,0.863454,0.785047,0.078407
6,7,9,0.853414,0.785047,0.068367
7,8,8,0.851406,0.785047,0.066359
8,9,7,0.841365,0.775701,0.065665
9,10,6,0.833333,0.780374,0.052960
10,11,5,0.839357,0.780374,0.058984
11,12,4,0.833333,0.780374,0.052960
12,13,3,0.837349,0.780374,0.056976
13,14,2,0.811245,0.785047,0.026198
14,15,1,0.777108,0.757009,0.020099

After making a few models, which one has the best performance (or closest metrics) on both train and validate?

In [262]:
# min_samples_per_leaf	max_depth	train_accuracy	validate_accuracy	difference
# 4	                    12	        0.877510	    0.799065	        0.078445